@inject IHostingEnvironment env
@inject SignInManager<ApplicationUser> _signIn
@inject UserManager<ApplicationUser> _userManager
@inject ShoppingCart sc

@{
    var user = await _userManager.GetUser(_signIn);
    var isAdmin = user != null && await _userManager.IsInRoleAsync(user, "Administrator");
    var host = this.Context?.Request?.HostUrl() ?? "";
}
<!DOCTYPE html>
<html lang="es-ar">
<head>
    @RenderSection("metatags", required: false)

    <meta property="og:image" content="@host/Pictures/LogoWithBackground.png" />
    @Html.Partial("~/Views/Shared/Favicon.cshtml")
    @Html.Partial("~/Views/Shared/ExternalCss.cshtml")
    @Html.Partial("~/Views/Shared/SharedCss.cshtml")
    <meta property="fb:app_id" content="744831982380043" />
    @RenderSection("styles", required: false)

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>De las Artes</title>

    <link href="~/Content/Shared/_Layout.css" rel="stylesheet" />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/moment/locale/es.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/lib/DataTables/media/js/jquery.dataTables.min.js"></script>
    @*<script src="~/lib/owl.carousel/dist/owl.carousel.js"></script>*@
    <script src="~/lib/slick-carousel/slick/slick.min.js"></script>
    <script src="~/lib/matchheight/dist/jquery.matchHeight-min.js"></script>
    <script src="~/lib/Snap.svg/dist/snap.svg-min.js"></script>
    <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/lib/lodash/dist/lodash.min.js"></script>
    @if (env.IsProduction() && !isAdmin)
    {
        <script type="text/javascript" src="~/CommonJs/ZopimChat.js"></script>
    }
    <script src="~/lib/parallax.js/parallax.min.js"></script>
    <script src="~/lib/slick-lightbox/dist/slick-lightbox.js"></script>
    <script src="~/lib/selectize/dist/js/standalone/selectize.min.js"></script>

    @if (env.IsProduction() && !isAdmin)
    {
        <!-- Facebook Pixel Code -->
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n; n.push = n; n.loaded = !0; n.version = '2.0';
                n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '165224134283131');
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=165224134283131&ev=PageView&noscript=1" />
        </noscript>
        <!-- End Facebook Pixel Code -->
    }
    <script src="~/Scripts/loader.js"></script>
    <meta name="google-site-verification" content="TUVubu2wlOkQR100TXZkZ92DF5zmVpN22oYsYPpaZ9A" />
</head>
<body>
    @Html.Partial("~/Views/Shared/Loader.cshtml")
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.11&appId=744831982380043&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">


                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="navbrand">
                    <ul class="nav navbar-nav">
                        @*<li class="hidden-sm hidden-md hidden-lg hidden-print">
                                <div style="font-size: smaller; color: white; margin: 4px auto;">
                                    <div>
                                        <a class="phone" href="https://api.whatsapp.com/send?phone=5491127778899" target='_blank' style="color: white;">
                                            <span class="fa fa-whatsapp" style="margin-right: 5px;"></span> 911 2777 8899
                                        </a>
                                    </div>
                                    <div>
                                        <a class="phone" href="tel:+5491149250262" style="color: white;">
                                            <span class="fa fa-phone" style="margin-right: 5px;"></span> 4925-0262
                                        </a>
                                    </div>
                                </div>
                            </li>*@

                        <li class="">
                            <a class="phone" href="tel:+5491149250262">
                                <span class="fa fa-phone"></span>
                            </a>
                        </li>
                        <li class="">
                            <a asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li>
                            @* await Component.InvokeAsync("ShoppingCartSummary") *@
                            @* Este await choto rompe todo cuando hay muchos requests simultaneos*@
                            @Html.Partial("~/Views/ShoppingCart/TrolleyIcon.cshtml")
                        </li>

                    </ul>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @*<li><a asp-controller="Home" asp-action="Index">Inicio</a></li>*@
                    @*@await Component.InvokeAsync("CategoryMenu")*@
                    @*@await Component.InvokeAsync("PhotosMenu")*@
                    <li><a asp-controller="PieDetail" asp-action="List">Productos</a></li>
                    <li><a asp-controller="Services" asp-action="Catering">Catering</a></li>
                    <li><a asp-controller="Photos" asp-action="Index">Fotos</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Contacto</a></li>
                    <li><a asp-controller="Calendar" asp-action="OpenHours">Horarios</a></li>
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                </ul>
                @Html.Partial("LoginPartial")
            </div>
        </div>
    </nav>

    @if (env.IsStaging() || env.IsDevelopment())
    {
        <style>
            .test {
                position: fixed;
                right: 50px;
                z-index: 99999999999999999999999;
                opacity: 0.5;
            }
        </style>
        var environment = env.IsStaging() ? "PRUEBAS" : "DESARROLLO";
        <div class="text-center test hidden-print">
            <div class="alert alert-warning " style="font-size: 20px; margin: 10px;">
                <div>@environment</div>
            </div>
        </div>

    }

    <script src="~/CommonJs/Formatting.js"></script>
    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
    </script>

    <div id="body">
        @RenderBody()
    </div>
    <div>
        <br />
        <br />
        <br />
        <br />
    </div>


    @{
        var SocialMedia = new List<MediaViewModel>()
{
//new MediaViewModel() { Icon = "fa-twitter", Class = "social-twitter", Ref = "#" },
//new MediaViewModel() { Icon = "fa-instagram", Class = "social-google-plus", Ref = "#" },
new MediaViewModel() { Icon = "fa-facebook", Class = "social-facebook", Ref = "https://www.facebook.com/ReposteriaDeLasArtes/" },
new MediaViewModel() { Icon = "fa-whatsapp", Class = "social-whatsapp", Ref = "https://api.whatsapp.com/send?phone=6421780906" }
};
    }
    @*<media-footer media="@SocialMedia" ></media-footer>*@

    <div class="media-icons hidden-print" id="media-footer" style="display:none;">
        <a href="https://www.facebook.com/ReposteriaDeLasArtes/" target='_blank'>
            <img src="~/Pictures/MediaIcons/Facebook.png" />
        </a>
        <a href="https://m.me/ReposteriaDeLasArtes/" target='_blank'>
            <img src="~/Pictures/MediaIcons/Messenger.png" />
        </a>
        <a href="https://api.whatsapp.com/send?phone=5491127778899" target='_blank'>
            <img src="~/Pictures/MediaIcons/Whatsapp.png" />
        </a>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $('#media-footer').fadeIn();
            }, 5000);
        });
    </script>

    @RenderSection("scripts", required: false)
    @*@if (env.IsProduction())
        {
            <script src="~/lib/react/react.production.min.js"></script>
            <script src="~/lib/react/react-dom.production.min.js"></script>
        }
        else
        {
            <script src="~/lib/react/react.development.js"></script>
            <script src="~/lib/react/react-dom.development.js"></script>
        }
        @Html.ReactInitJavaScript()*@
    <br />
    <div class="text-center text-muted hidden-print">
        Sesión #@sc.BookingId.Ending(6)
    </div>

</body>
</html>
