<!DOCTYPE html>

<html lang="es-ar">
<head>
    @Html.Partial("~/Views/Shared/Favicon.cshtml")
    @Html.Partial("~/Views/Shared/GoogleDomainVerification.cshtml")
    @Html.Partial("~/Views/Shared/ExternalCss.cshtml")

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>La Reposteria Shop</title>

    <link href="~/Content/Shared/_Layout.css" rel="stylesheet" />
    <script type="text/javascript" src="~/CommonJs/ZopimChat.js"></script>
</head>
<body >
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">

                
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="navbrand">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="tel:+5491149250262">
                                <span class="fa fa-phone"></span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Home" asp-action="Index">De las Artes</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    @*<li><a asp-controller="Home" asp-action="Index">Inicio</a></li>*@
                    @*@await Component.InvokeAsync("CategoryMenu")*@
                    @*@await Component.InvokeAsync("PhotosMenu")*@
                    <li><a asp-controller="PieDetail" asp-action="List">Comprar</a></li>
                    <li><a asp-controller="Photos" asp-action="Index">Fotos</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Contacto</a></li>
                    <li><a asp-controller="Calendar" asp-action="OpenHours">Horarios</a></li>
                    @await  Component.InvokeAsync("ShoppingCartSummary")
                    @if (this.User.IsInRole("Administrator"))
                    {
                        <li><a asp-controller="Admin" asp-action="Index">Admin</a></li>
                    }
                </ul>
                @await Html.PartialAsync("LoginPartial")
            </div>
        </div>
    </nav>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/lib/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
    <script src="~/lib/DataTables/media/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/owl.carousel/dist/owl.carousel.js"></script>
    <script src="~/lib/slick-carousel/slick/slick.min.js"></script>
    <script src="~/lib/matchheight/dist/jquery.matchHeight-min.js"></script>

    <script src="~/CommonJs/Formatting.js"></script>
    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
    </script>

    <div id="body">
        @RenderBody()
    </div>    


    @{
        var SocialMedia = new List<MediaViewModel>()
        {
            //new MediaViewModel() { Icon = "fa-twitter", Class = "social-twitter", Ref = "#" },
            //new MediaViewModel() { Icon = "fa-instagram", Class = "social-google-plus", Ref = "#" },
            new MediaViewModel() { Icon = "fa-facebook", Class = "social-facebook", Ref = "https://www.facebook.com/ReposteriaDeLasArtes/" },
            new MediaViewModel() { Icon = "fa-whatsapp", Class = "social-whatsapp", Ref = "https://api.whatsapp.com/send?phone=6421780906" }
        };
    }
    @*<media-footer media="@SocialMedia" ></media-footer>*@
    
    @RenderSection("scripts", required: false)

    </body>
</html>
