@model string

@inject IPieRepository pieRep;
@{
    var pies = pieRep.AllPies;

    <div style="margin-top: 20px;" class="alert alert-info">
        <h3>Comparación en catálogo de productos CON FOTO</h3>
        <table class="catalog-repo">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio Internet</th>
                    <th>Precio en Sucursal</th>
                    <th>Tiempo de Preparación</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in pies)
                {
                    <tr>
                        <td>
                            <a asp-action="EditPieDetail" asp-controller="Admin" asp-route-id="@item.PieDetailId">
                                @{ 
                                        var name = $"{item.PieDetail.Name} {item.Name}";
                                }
                                @Regex.Replace(name.Normalize(NormalizationForm.FormD), @"[^a-zA-z0-9 ]+", "")
                            </a>
                        </td>
                        <td>
                            @item.Price
                        </td>
                        <td>
                            @item.StorePrice
                        </td>
                        <td>
                            @item.PieDetail.PreparationTime
                        </td>
                        <td>
                            @if (item.IsActive)
                            {
                                <span class="fa fa-check"></span>
                            }
                            else
                            {
                                <span class="fa fa-times"></span>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <script>
        $("table.catalog-repo").DataTable({
            "language": {
                "url": "/Scripts/SpanishDatatables.json"
            },
            "order": [[0, "asc"]],
            "oSearch": { "sSearch": "@Regex.Replace(Model.Normalize(NormalizationForm.FormD), @"[^a-zA-z0-9 ]+", "")" }
        });
    </script>
}