@model PieDetailViewModel

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <div class="pieOverviewImage">
            <img src="@Model.PieDetail.ImageThumbnailUrl" alt="" >
            <div class="caption">
                <h3>
                    <a asp-controller="PieDetail"
                       asp-action="Details"
                       asp-route-id="@Model.PieDetail.PieDetailId">@Model.PieDetail.Name</a>
                </h3>
                <p>@Model.PieDetail.ShortDescription</p>
            </div>
            @Html.Partial("PiePriceCarousel", Model)
        </div>
    </div>
</div>
