@model PieDetailViewModel

<link href="~/Content/Shared/PieOverviewSummary.css" rel="stylesheet" />

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 center-block">
    <div class="thumbnail center-block">
        <div class="ribbon"><span>@Model.PieDetail.PreparationTime Hs</span></div>
        <div class="pieOverviewImage">
            <a asp-controller="PieDetail"
               asp-action="Details"
               asp-route-id="@Model.PieDetail.PieDetailId">

                <div class="frame-square">
                    <div class="crop">
                        @{
                            if (String.IsNullOrEmpty(Model.PrimaryPicture))
                            {
                                <img src="~/Pictures/imgnotfound.png">
                            }
                            else
                            {
                                var source = Model.PrimaryPicture + (Model.IsMobile ? "m" : "b") + ".jpg";
                                <img src="@source" alt="">
                            }
                        }
                    </div>
                </div>
                <div class="caption">
                    <h3>
                        @Model.PieDetail.Name
                    </h3>
                    <p class="shortDesc">@Model.PieDetail.ShortDescription</p>
                </div>
            </a>
            @Html.Partial("PiePriceCarousel", Model)
        </div>
    </div>
</div>
