@model IEnumerable<Product>
@inject ILunchRepository _lunch;
@inject IFlickrRepository _flickr;

@section metatags {
    <title>Catering</title>
}

    <div class="container">
        <div class="title-container">
            <h1 class="title-logo">Catering</h1>
        </div>

        @{ long albumbId = 72157693586449552; }




        <div class="text-center">
            <h4>Echale un vistazo a nuestros deliciosos menúes que podemos preparar para tu evento o... <a class="alert-success" asp-action="Estimate" asp-controller="Lunch">¡Armátelo vos mism@@!</a></h4>
            <h4>Normalmente nosotros recomendamos entre 10 y 12 bocados por adulto, dependiendo de cuánto dure la celebración.</h4>

            @*<img src="~/Pictures/Loader.gif" id="loading" style="margin: auto;" />*@
        </div>
        <div class="container">
            <div class="slider-nav" id="nav-@albumbId">
            @foreach (var picture in _flickr.GetAlbumPictures(albumbId).PicturesUrls)
            {
                var pic = picture + "s.jpg";
                <div class="item" style="">
                    <img src="@pic" alt="image" draggable="false" style="margin-right: 2px;" />
                </div>
            }
            </div>
        </div>
        <script type="text/javascript">
        $('#nav-@albumbId' + '.slider-nav').slick({
            slidesToScroll: 1,
            dots: false,
            infinite: true,
            focusOnSelect: true,
            arrows: false,
            centerMode: false,
            variableWidth: true
        });
        </script>
        @Html.Partial("~/Views/Lunch/Combos.cshtml", _lunch.GetAllLunches().Where(x => x.IsCombo))
        <div class="container">
            <h3>¿Querés uno a medida? </h3>
            <h5>Acá podes ver nuestras opciones más clásicas. Contactate con nosotros y te ayudamos a elegir, sobre todo con opciones que no están en esta lista.</h5>
            <h5>Si querés armártelo por tu propia cuenta, hacé click <a class="alert-success" asp-action="Estimate" asp-controller="Lunch">aquí</a></h5>
            <table class="" id="table">
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad mínima (múltiplos)
                        </th>
                        <th>
                            Precio U. (Sucursal)
                        </th>
                    </tr>
                </thead>
                <tbody id="tbody">
                    @{
                    foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.MinOrderAmount
                            </td>
                            <td>
                                @item.PriceInStore.ToString("c")
                            </td>
                        </tr>
                }
                    }
                </tbody>
            </table>
        </div>
    </div>
<script>
    @*$.ajax({
        url: "https://lareposteria.sharepoint.com/_api/Web/Lists(guid'b10fac5f-d656-49ca-bb9a-589b9362bb94')/items?$select=Title,Precio,CantidadMinima&$filter=Categoria eq 'Lunch'&$orderby=Title asc",
        headers: { "Authorization": "Bearer " + '@Model', "Accept": "application/json;odata=verbose"}
    }).done(function (data) {

        for (var i = 0, len = data.d.results.length; i < len; i++) {
            $('#tbody').append('<tr>' +
                '<td>' + data.d.results[i].Title + '</td>' +
                '<td>' + data.d.results[i].CantidadMinima + '</td>' +
                '<td>' + data.d.results[i].Precio + '</td>' +
                '</tr>');
        }
        $('#table').DataTable({
            "language": {
                "url": "/Scripts/SpanishDatatables.json"
            },
            pageLength: 50,
            searching: false,
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": false,
        });
        $('#loading').addClass('hidden');
        $('#table').removeClass('hidden');
    });*@
    $('#table').DataTable({
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        },
        pageLength: 50,
        searching: false,
        "bPaginate": false,
        "bLengthChange": false,
        "bFilter": true,
        "bInfo": false,
    });
</script>