<link href="~/Content/Services/Index.css" rel="stylesheet" />

<section class="services" id="services">
    <h1 class="text-center">Servicios</h1>
    <div class="section-heading text-center">
        <h2 class="text-muted">Mira todo lo que tenemos para ofrecerte!</h2>
    </div>
    <div class="container center-block">
        @Html.Partial("~/Views/Services/Service.cshtml", new ServiceViewModel("List", "PieDetail", "fa-shopping-cart", "Comprar", "Compra nuestros productos a través de esta web.", "/Pictures/Services/Portada.jpeg"))
        @Html.Partial("~/Views/Services/Service.cshtml", new ServiceViewModel("SpecialCakes", "Services", "fa-birthday-cake", "Cumples", "Encarganos tu torta de cumpleaños, con los sabores que quieras.", "/Pictures/Services/Cumple.jpg"))
        @Html.Partial("~/Views/Services/Service.cshtml", new ServiceViewModel("SpecialCakes", "Services", "fa-users", "Fiestas", "Sorprendé a ese ser querido con un desayuno continental sorpresa!", "/Pictures/Services/Eventos.jpg"))

        @Html.Partial("~/Views/Services/Service.cshtml", new ServiceViewModel("Breakfast", "Services", "fa-gift", "Desayunos", "Sorprendé a ese ser querido con un desayuno continental sorpresa!", "/Pictures/Services/Desayuno.jpg"))
        @Html.Partial("~/Views/Services/Service.cshtml", new ServiceViewModel("Catering", "Services", "fa-cutlery", "Catering", "Hacemos el catering para tu evento. Super novedoso y exquisito. Mira!", "/Pictures/Services/Catering.jpg"))
        @Html.Partial("~/Views/Services/Service.cshtml", new ServiceViewModel("SweetTable", "Services", "fa-coffee", "Mesa dulce", "Prepara una mesa dulce para terminar de enloquecer a tus invitados.", "/Pictures/Services/MesaDulce.jpg"))
    </div>
</section>

<script type="text/javascript">
    $(document).ready(function () {
        $('.service').matchHeight();
    });
</script>