@model ServiceViewModel

<style>
    .service-link {
        text-decoration: none;
        color: grey;
    }

    .service-content {
        text-align: center;
        background-color: #ffffff;
        border-style: solid;
        border-color: #95a083;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 20px;
        margin-top: 20px;
        border-radius: 3px;
        height: 100%;
        width: 100%;
        -webkit-transition: -webkit-transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
        transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease
    }

        .service-content:hover,
        .service-content:focus {
            -webkit-transform: scale(1.025);
            transform: scale(1.025);
        }

        .service-content i {
            font-size: xx-large;
            color: white;
            text-shadow: 2px 2px 8px #0f3311;
        }

        .service-content p {
            font-family: 'Bungee';
            color: white;
            text-shadow: 2px 2px 8px #0f3311;
        }

        .service-content h3 {
            color: white;
            font-family: 'Bungee';
            text-shadow: 2px 2px 8px #0f3311;
        }

</style>

<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
    <div class="service">
        <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="service-link">
            <div class="service-content" style="background-image:url('@Model.Background')">
                <i class="fa @Model.IconClass text-primary"></i>
                <h3>@Model.Title</h3>
                <p class="text-muted">@Model.Description</p>
            </div>
        </a>
    </div>
</div>