@model ServiceViewModel

<link href="~/Content/Services/Service.css" rel="stylesheet" />

<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="service">
        <a asp-controller="@Model.Controller" asp-action="@Model.Action" class="service-link">
            <div class="service-content">
                <i class="fa @Model.IconClass text-primary"></i>
                <h3>@Model.Title</h3>
                <p class="text-muted">@Model.Description</p>
            </div>
        </a>
    </div>
</div>