@model IEnumerable<ProductEstimationViewModel>
@if (Model.Any())
{
<style>
    th {
        text-align: center;
    }

    .filterscake {
        font-size: larger;
        color: #883636;
    }

        .filterscake label {
            color: #883636;
        }
</style>

<div>
    <hr />
</div>
    <h2 style="text-align: center; color: #883636">Catálogo Completo</h2>
    <table class="table table-striped" id="full-catalog">
        <thead>
            <tr>
                <th>
                    <h3 style="color: #883636; text-align: left;">
                        Producto
                    </h3>
                </th>
                <th>
                    <h3 style="color: #883636; text-align: center;">
                        Precio
                    </h3>
                </th>
            </tr>
        </thead>
        <tbody>
        @{
            var array = Model.OrderBy(x => x.DisplayName.TrimStart()).ToArray();
            for (int i = 0; i < array.Length; i++)
            {
                <tr>
                    <td width="60" class="small">
                        <div style="font-size: large; color: #883636">
                            @array[i].DisplayName.TrimStart()
                        </div>
                        <div class="text-muted text-capitalize" style="font-style:italic;">
                            <div>@array[i].DisplayDescription</div>
                        </div>
                        <div>
                            Prociones aprox.: @array[i].Portions <span class="fa fa-pie-chart"></span>
                        </div>
                        <div style="color: #883636">
							Elaboración: @array[i].PreparationTime hs
                            @Html.Raw(array[i].Estimation)
                        </div>
                    </td>
                    <td width="40">
                        <div class="text-center">
                            @if (array[i].PriceInStore > array[i].Price)
                            {
                                var perc = Decimal.Floor(100 - (array[i].Price / array[i].PriceInStore * 100));

                                <div style="font-size: larger; ">
                                    <div>
                                        <strong>$@array[i].Price </strong>

                                        <strong style="color: green;">@Html.Raw((perc >= 10 ? $"-{perc}% " : "") + "Online")</strong>
                                    </div>
                                </div>
                                <div style="font-size: smaller;">
                                    <div>
                                        <strong style="color: red;">$@array[i].PriceInStore </strong>
                                        <strong>En sucursal</strong>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div style="font-size: larger; ">$@array[i].Price</div>
                            }
                            <div style="margin: 5px;">
                                <a title="Comprar" asp-controller="ShoppingCart" asp-action="AddProductToShoppingCart"
                                   asp-route-id="@array[i].ProductId" class="btn btn-primary">
                                    Comprar
                                </a>
                            </div>
                        </div>
                    </td>
                </tr>
                }
            }
        </tbody>
    </table>
    <script>
        $('table#full-catalog').DataTable({
            "language": {
                "url": "/Scripts/SpanishDatatables.json"
            },
            "paging": false,
            "columnDefs": [{
                "targets": 1,
                "orderable": false
            }],
            "fnInitComplete": styleTable,
        });
        function styleTable() {
            $(".dataTables_length").addClass("hidden");
            $(".dataTables_filter input").addClass("form-control")
            $(".dataTables_filter").addClass("filterscake")
        }
    </script>
}