@model PieDetailViewModel

<link href="~/Content/PieDetail/PieDetails.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="~/lib/slick-carousel/slick/slick-theme.css" />

<div class="container">
    <div class="thumbnailDetail">
        <div class="header">
            <h1>@Model.PieDetail.Name</h1>
        </div>
        <div class="row short-Desc">
            <div class="col-sm-6 col-md-6 col-lg-6" id="pictures">
                <h2>Imágenes</h2>
                <h4>@Model.PieDetail.ShortDescription</h4>
                <div class="slider-nav center-block" style="display:none;"></div>
                <img alt="@Model.PieDetail.Name" src="~/Pictures/logo.png" id="defaultPicture">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6" id="prices">
                <h2>Comprar</h2>
                <div class="caption-full">
                    @Html.Partial("PiePriceCarousel", Model)
                    <p><strong>Preparación: @Model.PieDetail.PreparationTime hs</strong></p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12" id="description">
                <p>@Model.PieDetail.LongDescription</p>
            </div>
        </div>
        <div style="text-align: center;">
            <a asp-action="List" asp-controller="PieDetail" class="btn btn-primary submit-btn">
                Ver más
            </a>
        </div>
    </div>  
</div>
<script type="text/javascript">
    $(function () {
        $('.carousel').carousel({
            interval: 2000
        });
    });
    
    $.ajax({
        url: "/api/PieDetailData/GetPieDetailFotos/" + '@Model.PieDetail.FlickrAlbumId',
        method: "GET",
        success: function (result) {
            buildCarousel(result);
        },
        error: function (error) {
            alert('Algo salio mal.');
        }
    });

    function buildCarousel(result) {
        $.each(result, function (index, item) {
            $('.slider-nav').append('<div class="img-nav" ><img src="' + item + 'q.jpg" alt="" class="nav"></div>');
        })
        $('.slider-nav').slick({
            lazyLoad: 'ondemand',
            slidesToShow: 1,
            slidesToScroll: 1,
            variableWidth: true,
            dots: true
        });

        $('#defaultPicture').hide();
        $('.slider-nav').show();
    }

</script>