@model PieDetailViewModel
@using System.Text.RegularExpressions

<style>
    .static-prices {
        margin: 5px;
    }

    .table thead tr th {
        text-align: center;
    }


    .header h1 {
        text-align: center;
        margin-bottom: -20px;
        margin-top: -20px;
    }


    /*.thumbnailDetail {
        padding: 10px;
        max-width: 900px;
        margin: 10px auto;
        border-radius: 20px;
    }*/

    .thumbnailDetail h1 {
    }

    /*#pictures {
        background-color: #dbe9d8;
        border-radius: 3px;
        border-style: solid;
        border-color: grey;
        border-width: 2px;
    }*/

    #pictures h2 {
        padding: 5px;
        background-color: white;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;
        border-color: green;
    }

    .longdesc {
        /*font-size: larger;*/
        text-align: left;
    }

    .short-Desc {
        padding-top: 20px;
        max-width: 900px;
        margin: auto;
        text-align: center;
    }



    img.main {
        width: 100%;
    }

    @@media screen and (max-width: 400px) {
        img.nav {
            /*width: 40px;*/
            padding: 5px;
        }
    }

    @@media screen and (max-width: 600px) {
        img.nav {
            /*width: 60px;*/
            padding: 5px;
        }
    }

    @@media screen and (min-width: 600px) {
        img.nav {
            /*width: 80px;*/
            padding: 10px;
        }
    }

    div.row p {
        padding-right: 10px;
        padding-left: 10px;
    }

    .thumbnailDetail .caption-full {
        padding: 9px;
        color: #333;
    }

    #description h4 {
        text-align: center;
    }
    /***************************************/
    #gallery-title {
        display: none;
    }
</style>

@section metatags {
    <meta property="og:url" content="@Model.RequestAbsoluteUrl" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="@Model.PieDetail.Name" />
    @{
        var desc = Regex.Replace(Model.PieDetail.LongDescription, "<.*?>", String.Empty);
    }
    <meta property="og:description" content="@desc" />
    @{
        if (Model.PieDetail.FlickrAlbumId != 0 && !String.IsNullOrWhiteSpace(Model.PrimaryPicture))
        {
            var fb_img = Model.PrimaryPicture + "z.jpg";
            <meta property="og:image" content="@fb_img" />
        }
    }
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.11&appId=744831982380043';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<br />
<div class="container">
    <div class="thumbnailDetail">


        <h1 class="text-center" style="font-family:Noto serif;">@Model.PieDetail.Name</h1>
        <h3 class="text-center text-muted" style="font-family:Noto serif;">@Model.PieDetail.ShortDescription</h3>

        <div class="short-Desc">
            <div class="row">

                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6" id="description">

                    <div class="longdesc">@Html.Raw(Model.PieDetail.LongDescription)</div>

                    <br />
                    <table class="table static-prices animated flipInX">
                        <thead>
                            <tr>
                                <th scope="col">Descripción</th>
                                <th scope="col">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                foreach (var pie in Model.Pies.OrderBy(x => x.Price))
                {
                    <tr class="static-price">
                        <td class="unit-name">
                            <div>
                                @pie.Name<br />
                                @pie.SizeDescription
                            </div>
                        </td>
                        <td class="unit-price">
                            <div>
                                $@pie.Price<br />
                                <a title="Comprar" asp-controller='ShoppingCart' asp-action='AddToShoppingCart' asp-route-pieId='@pie.PieId'>
                                    Agregar al carrito <span class="fa fa-shopping-cart"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
}
                            }
                        </tbody>
                    </table>
                    <div style="display: flex; ">
                        <h4 style="margin: auto;" class="">Preparación: @Model.PieDetail.PreparationTime hs</h4>
                    </div>
                    <div style="text-align: center;margin-bottom: 10px;" class="hidden-xs">
                        <br />
                        <a asp-action="List" asp-controller="PieDetail" class="btn btn-primary submit-btn">
                            <span class="glyphicon glyphicon-arrow-left "></span> Volver
                        </a>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6" id="pictures">
                    @{
                    var primarypic = $"{Model.PrimaryPicture}{(Model.IsMobile ? "z" : "b")}.jpg";
                    }
                    <img src="@primarypic" style="width: 100%" />
                    <img alt="@Model.PieDetail.Name" src="~/Pictures/imgnotfound.png" id="defaultPicture" style="display:none; width: 100%;">
                    <div class="caption-full">
                        <div class="fb-share-button"
                             data-href="/PieDetail/Details/@Model.PieDetail.PieDetailId"
                             data-layout="button_count">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div id="photos"></div>
            </div>
            <div class="row">
                <div class="hidden-sm hidden-md hidden-lg">
                    <br />
                    <a asp-action="List" asp-controller="PieDetail" class="btn btn-primary submit-btn">
                        Seguir Comprando
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('.carousel').carousel({
            interval: 2000
        });
    });

    $.get("/api/PhotosData/GetAlbum/@Model.PieDetail.FlickrAlbumId", function (data) {
        $("#photos").append(data);
    }).fail(function () {
        $('#defaultPicture').show();
    });
</script>