@model PieDetailViewModel
@inject IPieDetailRepository pieDetailRepo
@inject ICalendarRepository _calendar


<style>
    td {
        width: 50%;
    }
</style>
@{
    var products = pieDetailRepo.GetChildren(Model.PieDetail.PieDetailId);
}
@{
    string GetPickupTime(int prepTime)
    {
        var date = _calendar.GetPickupEstimate(prepTime);
        var isToday = date.Date == _calendar.LocalTime().Date;
        var datevalue = isToday ? "<span style=\"color: green;\">hoy mismo</span>" : $"para el {_calendar.FriendlyDate(date)}";
        var text = $"Si comprás ahora, lo podés tener listo {datevalue} a las {date.ToString("HH:ss")} hs.";
        return text;
    }
}

@section metatags {
    <meta property="og:url" content="@Model.RequestAbsoluteUrl" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="@Model.PieDetail.Name" />
    @{
        var desc = Regex.Replace(Model.PieDetail.LongDescription, "<.*?>", String.Empty);
    }
    <meta property="og:description" content="@desc" />
    @{
        if (Model.PieDetail.FlickrAlbumId != 0 && !String.IsNullOrWhiteSpace(Model.PrimaryPicture))
        {
            var fb_img = Model.PrimaryPicture + "z.jpg";
            <meta property="og:image" content="@fb_img" />
        }
    }
    <title>@Model.PieDetail.Name</title>
}

<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.11&appId=744831982380043';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<br />
<div class="container">
    <div class="">
        <h1 class="text-center" style="margin-bottom: -5px; font-family:Noto serif;">@Model.PieDetail.Name</h1>
        @*<h3 class="text-center" style="margin-bottom: 25px; color: #883636;">Tiempo de Preparación: @Model.PieDetail.PreparationTime hs</h3>*@
        <div class="short-Desc">
            <div class="row">
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-6" id="description">
                    <h3 class="text-center text-muted" style="font-family:Noto serif;">@Model.PieDetail.ShortDescription</h3>
                    <br />
                    <div class="longdesc">@Html.Raw(Model.PieDetail.LongDescription)</div>
                    <br />
                    <div style="padding-left: 20px; padding-right: 20px;">
                        <div id="calendarView">
                        </div>
                    </div>
                    <table class="table static-prices text-center">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Descripción</th>
                                <th scope="col" class="text-center">Precio</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                if (products.Any())
                                {
                                    foreach (var product in products.OrderBy(x => x.Price))
                                    {
                                        <tr class="static-price">
                                            <td class="unit-name">
                                                <div>
                                                @{
                                                    var separator = "";
                                                    if (!string.IsNullOrEmpty(product.Flavour) && !string.IsNullOrEmpty(product.SizeDescription))
                                                    {
                                                        separator = " ";
                                                    }
                                                }
                                                    <span><strong>@product.Flavour</strong></span>
                                                    <span><strong>@separator</strong></span>
                                                    <span><strong>@product.SizeDescription</strong></span>
                                                </div>
                                                <div class="small" style="color: #883636;">
                                                    Rinde aprox. @product.Portions <span class="fa fa-pie-chart"></span>
                                                </div>
                                                @if (string.IsNullOrEmpty(product.Flavour) && string.IsNullOrEmpty(product.SizeDescription))
                                                {
                                                <div>
                                                    <strong>@product.PieDetail.Name</strong>
                                                </div>
                                                }
                                                <div class="small text-muted" style="font-style: italic;">
                                                    @Html.Raw(GetPickupTime(product.PreparationTime))
                                                </div>
                                            </td>
                                            <td class="unit-price">
                                                <div>
                                                    <a title="Comprar" asp-controller='ShoppingCart' asp-action='AddProductToShoppingCart' asp-route-id='@product.ProductId'>
                                                    @if (product.PriceInStore > product.Price)
                                                    {
                                                        var perc = Decimal.Floor(100 - (product.Price / product.PriceInStore * 100));

                                                        <div style="font-size: larger; ">
                                                            <div>
                                                                <strong style="color: black;">$@product.Price </strong>
                                                                <strong style="color: green;">@Html.Raw((perc >= 5 ? $"-{perc}% " : "") + "Online")</strong>
                                                            </div>
                                                        </div>
                                                        <div style="font-size: smaller;">
                                                            <div>
                                                                <strong style="color: red;">$@product.PriceInStore </strong>
                                                                <strong style="color: black;">En sucursal</strong>
                                                            </div>
                                                        </div>
                                                    }
                                                    else
                                                    {
                                                        <div  style="font-size: larger; "><strong>$@product.Price</strong></div>
                                                    }
                                                        Agregar al carrito <span class="fa fa-shopping-cart"></span>
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                            <tr>
                                <td colspan="2">
                                    <div class="text-muted small text-left" style="margin: 5px">*Si lo querés para más adelante, podés elegir otra fecha al finalizar la compra.</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row text-center">
                        <div style="margin:20px;">
                            <a asp-action="List" asp-controller="PieDetail" class="btn btn-primary submit-btn ">
                                <span class="glyphicon glyphicon-arrow-left "></span> Volver
                            </a>
                        </div>
                        <div class="fb-share-button" style="margin-bottom: 25px;"
                             data-href="/PieDetail/Details/@Model.PieDetail.PieDetailId"
                             data-layout="button_count">
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-6" id="pictures5">
                    <div style="margin-top: 25px;">
                        @Html.Partial("~/Views/Photos/AlbumFullScreen.cshtml", Model.AlbumPitures)
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/ShoppingCart/Faq.cshtml")

        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        $('.carousel').carousel({
            interval: 2000
        });
    });
    function smoothScroll() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top - 65
                }, 1000);
                return false;
            }
        }
    }

</script>