@model EmailValidationViewModel
@{Layout = string.Empty;}

<div style="text-align:center; font-family: 'Arial', Georgia, Serif; ">
    <section style='padding: 20px; max-width:600px; min-width:400px;' id='body'>
        <h2 style="font-family: 'Times New Roman'; font-style: italic;color: green; ">
            <a href="@Model.HostUrl" target="_blank"
               style="  padding: 15px;
                            color: white;
                            text-decoration: none;
                            border-radius: 50%;
                            background: green;">
                <strong>De las Artes</strong>
            </a>
        </h2>
        <br>
        <h2><strong>¡Gracias @Model.FirstName por registrarte con De las Artes!</strong></h2>
        <p>
            Para que puedas operar con nosotros, necesitamos que nos confirmes tu email.
        </p>

        <p style="font-size:10px;">Link para Activar</p>

        <div style="background-color: white; width: 120px; margin: auto; ">
            <a href="@Model.HostUrl/Account/EmailVerification/@Model.UserName/@Model.Hash" target="_blank" style="color: black; text-decoration: none; ">
                <h1 style="padding: 5px; font-size: 20px;background-color:coral; border-radius: 3px;">Activar</h1>
            </a>
        </div>
        <br />

        <p>Si el link no te funcionó, probá directamente con copiar y pegar en el navegador la siguente URL:</p>
        <p><a style="overflow-wrap:break-word;"
              href="@Model.HostUrl/Account/EmailVerification/@Model.UserName/@Model.Hash">@Model.HostUrl/Account/EmailVerification/@Model.UserName/@Model.Hash</a></p>

        <p>Si recibiste este correo por equivocación, podés olvidarte de este mail, o podés informarnos a <email address="info@@lareposteria.com.ar" content="info@@lareposteria.com.ar"></email></p>
    </section>

</div>