@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
<style>
    td {
        padding: 5px;
    }

    table {
        margin: auto;
    }
</style>

<div class="container" style="margin: auto; max-width: 600px;">
    <form asp-controller="Account" asp-action="Login" method="post" role="form">
        <input type="hidden" asp-for="ReturnUrl" />
        <div asp-validation-summary="All" class="text-danger"></div>
        @if(Model.Errors != null)
        { 
        <div class="text-danger">@Html.Raw(String.Join("<br/>",Model.Errors))</div>
        }
        <table>
            <tbody>
                <tr>
                    <td colspan="2">
                        <h4 class="text-center">Ingresa tus detalles</h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="UserName" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Password" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="submit" class="btn btn-primary" value="Iniciar Sesión" />
                        <a id="registerLink" asp-controller="Account" asp-action="Register" class="btn btn-primary">Registrarse</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <section>
        <hr />
        @{
            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
            if (loginProviders.Count > 0)
            {
                <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in loginProviders)
                            {
                                <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                            }
                        </p>
                    </div>
                </form>
            }
        }
    </section>
</div>