@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
<style>
    td {
        padding: 5px;
    }

    table {
        margin: auto;
    }

    /* Shared */
    .loginBtn {
        box-sizing: border-box;
        position: relative;
        width: 100%; /* - apply for fixed size*/
        margin: 0em;
        padding: 0 15px 0 46px;
        border: none;
        text-align: center;
        line-height: 34px;
        white-space: nowrap;
        border-radius: 0.2em;
        font-size: 16px;
        color: #FFF;
    }

        .loginBtn:before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            top: 0;
            left: 0;
            width: 34px;
            height: 100%;
        }

        .loginBtn:focus {
            outline: none;
        }

        .loginBtn:active {
            box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
        }


    /* Facebook */
    .loginBtn--facebook {
        background-color: #4C69BA;
        background-image: linear-gradient(#4C69BA, #3B55A0);
        /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
        text-shadow: 0 -1px 0 #354C8C;
    }

        .loginBtn--facebook:before {
            border-right: #364e92 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
        }

        .loginBtn--facebook:hover,
        .loginBtn--facebook:focus {
            background-color: #5B7BD5;
            background-image: linear-gradient(#5B7BD5, #4864B1);
        }


    /* Google */
    .loginBtn--google {
        /*font-family: "Roboto", Roboto, arial, sans-serif;*/
        background: #DD4B39;
    }

        .loginBtn--google:before {
            border-right: #BB3F30 1px solid;
            background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_google.png') 6px 6px no-repeat;
        }

        .loginBtn--google:hover,
        .loginBtn--google:focus {
            background: #E74B37;
        }
</style>

<div class="container" style="margin: auto; max-width: 600px;">
    <form asp-controller="Account" asp-action="Login" method="post" role="form">
        <input type="hidden" asp-for="ReturnUrl" />
        @if(Model.Errors != null)
        { 
        <div class="text-danger">@Html.Raw(String.Join("<br/>",Model.Errors))</div>
        }
        <table>
            <tbody>
                <tr>
                    <td colspan="2">
                        <h2 class="text-center">Ingresa tus detalles</h2>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="UserName" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label asp-for="Password" class="control-label"></label>
                    </td>
                    <td>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div asp-validation-summary="All" class="text-danger"></div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <input type="submit" class="btn btn-primary" value="Iniciar Sesión" />
                        <a id="registerLink" asp-controller="Account" asp-action="Register" class="btn btn-primary">Registrarse</a>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <a asp-controller="Account" asp-action="ResetPassword">¿Olvidate tu contraseña?</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
    @{
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
    if (loginProviders.Count > 0)
    {
    <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <input type="hidden" asp-for="ReturnUrl" />
        <table>
            <tbody>
                <tr>
                    <td>
                        <hr>
                    </td>
                </tr>
                @foreach (var provider in loginProviders)
                {   
                <tr>
                    <td>
                        @if (provider.Name == "Facebook")
                        {
                        <button class="loginBtn loginBtn--facebook" type="submit" value="@provider.Name" name="provider">
                            Seguir con Facebook
                        </button>
                        }
                        else if (provider.Name == "Google")
                        {
                        <button class="loginBtn loginBtn--google" type="submit" value="@provider.Name" name="provider">
                            Seguir con Google
                        </button>                            
                        }
                        else
                        {
                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>
                        }
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </form>
    }
    }


</div>

