@model ApplicationUser

<style>
    table.userdata {
        width: 98%;
        margin: 10px auto;
        border-radius: 5px;
        background-color: beige;
        border-radius: 5px;
        max-width:600px;
    }

        table.userdata h2 {
            text-decoration: underline
        }

        table.userdata td, th {
            padding-left: 10px;
            padding-right: 10px;
        }
</style><br />
<div class="container">
    <table class="userdata">
        <thead>
            <tr>
                <th colspan="3">
                 <h2 class="text-center">Detalles de usuario</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1" valign="top"><label asp-for="UserName"></label></td>
                <td colspan="1" valign="top">@Model.UserName</td>
                <td colspan="1" rowspan="3" valign="top"><a asp-action="ProfileDetails" asp-controller="Account">Modificar</a></td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="FirstName"></label></td>
                <td colspan="1" valign="top">@Model.FirstName</td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="LastName"></label></td>
                <td colspan="1" valign="top">@Model.LastName</td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="AddressLine1"></label></td>
                <td colspan="1" valign="top">@Model.AddressLine1</td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="Email"></label></td>

                <td colspan="1" valign="top">
                    @Model.Email

                    @if (Model.EmailConfirmed)
            {
                <i class="fa fa-check" style="color: limegreen;" aria-hidden="true"></i>
    }
    else
    {
        <i class="fa fa-times" style="color: red;" aria-hidden="true"></i>
}
                </td>
                <td colspan="1" valign="top">
                    @if (!Model.EmailConfirmed)
            {
                <div id="emailConfirmBox">
                    <a href="#" id="confirmEmail" onclick="confirmEmail();">Confirmar</a>

                </div>
    }
                </td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="PhoneNumber"></label></td>

                <td colspan="1" valign="top">
                    @Model.PhoneNumber

                    @if (Model.PhoneNumberConfirmed)
            {
                <i class="fa fa-check" style="color: limegreen;" aria-hidden="true"></i>
    }
    else
    {
        <i class="fa fa-times" style="color: red;" aria-hidden="true"></i>
}
                </td>
                <td colspan="1" valign="top">
                    @if (!Model.PhoneNumberConfirmed)
            {
                <a asp-action="VerifyNumber" asp-controller="Account">Confirmar</a>
    }
    else
    {
        <a asp-action="VerifyNumber" asp-controller="Account">Cambiar</a>

}
                </td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label>Password</label></td>
                <td colspan="1" valign="top"><strong>******</strong></td>
                <td colspan="1" valign="top"><a asp-action="ChangePassword" asp-controller="Account">Cambiar</a></td>
            </tr>

        </tbody>
    </table>
</div>

<script>
    function confirmEmail() {
        $.ajax({
            url: '/api/AccountData/ValidateEmail/',
            type: "POST",
            success: function success() {
                $('#emailConfirmBox').empty();
                $('#emailConfirmBox').append('Revisar email');
            }
        })
    }
</script>
