@model UserOrdersViewModel

<style>
    table.userdata {
        width: 98%;
        margin: 10px auto;
        border-radius: 5px;
        /*background-color: beige;*/
        border-radius: 5px;
        max-width: 600px;
    }

        table.userdata h2 {
            /*text-decoration: underline*/
        }

        table.userdata td, th {
            padding-left: 10px;
            padding-right: 10px;
        }
</style><br />
<div class="container">
    <table class="userdata">
        <thead>
            <tr>
                <th colspan="3">
                 <h2 class="text-center">Detalles de usuario</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="1" valign="top"><label asp-for="User.UserName"></label></td>
                <td colspan="1" valign="top">@Model.User.UserName</td>
                <td colspan="1" rowspan="3" valign="top"><a asp-action="ProfileDetails" asp-controller="Account">Modificar</a></td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="User.FirstName"></label></td>
                <td colspan="1" valign="top">@Model.User.FirstName</td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="User.LastName"></label></td>
                <td colspan="1" valign="top">@Model.User.LastName</td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="User.AddressLine1"></label></td>
                <td colspan="1" valign="top">@Model.User.AddressLine1</td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="User.Email"></label></td>

                <td colspan="1" valign="top">
                    @Model.User.Email

                    @if (Model.User.EmailConfirmed)
            {
                <i class="fa fa-check" style="color: limegreen;" aria-hidden="true"></i>
    }
    else
    {
        <i class="fa fa-times" style="color: red;" aria-hidden="true"></i>
}
                </td>
                <td colspan="1" valign="top">
                    @if (!Model.User.EmailConfirmed)
            {
                <div id="emailConfirmBox">
                    <a href="#" id="confirmEmail" onclick="confirmEmail();">Confirmar</a>

                </div>
    }
                </td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label asp-for="User.PhoneNumber"></label></td>

                <td colspan="1" valign="top">
                    @Model.User.PhoneNumber

                    @if (Model.User.PhoneNumberConfirmed)
            {
                <i class="fa fa-check" style="color: limegreen;" aria-hidden="true"></i>
    }
    else
    {
        <i class="fa fa-times" style="color: red;" aria-hidden="true"></i>
}
                </td>
                <td colspan="1" valign="top">
                    @if (!Model.User.PhoneNumberConfirmed)
            {
                <a asp-action="VerifyNumber" asp-controller="Account">Confirmar</a>
    }
    else
    {
        <a asp-action="VerifyNumber" asp-controller="Account">Cambiar</a>

}
                </td>
            </tr>
            <tr>
                <td colspan="1" valign="top"><label>Password</label></td>
                <td colspan="1" valign="top"><strong>******</strong></td>
                <td colspan="1" valign="top"><a asp-action="ChangePassword" asp-controller="Account">Cambiar</a></td>
            </tr>

        </tbody>
    </table>

    @if(Model.Orders.Any())
    {
        <h2 class=" text-center">Historial de ordenes</h2>
        <div >
            <table class="table table-condensed" style="max-width:600px; text-align:center; margin: auto;" >
                <thead>
                    <tr >
                        <td>
                            <strong>Reserva</strong>
                        </td>
                        <td>
                            <strong>Creada</strong>
                        </td>
                        <td>
                            <strong>Estado</strong>
                        </td>
                        <td>
                            <strong>Total</strong>
                        </td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in Model.Orders.OrderByDescending(x => x.OrderPlaced))
            {
                <tr>
                    <td>
                        @order.FriendlyBookingId
                    </td>
                    <td>
                        @order.OrderPlaced
                    </td>
                    <td>
                        @order.StatusSpanish
                    </td>
                    <td>
                        @order.OrderTotal
                    </td>
                    <td>
                        <a href="/Order/EmailSentNotification/@order.OrderId" target="_blank">Ver</a>
                    </td>
                </tr>
    }
                </tbody>
            </table>
        </div>
    }
</div>

<script>
    function confirmEmail() {
        $.ajax({
            url: '/api/AccountData/ValidateEmail/',
            type: "POST",
            success: function success() {
                $('#emailConfirmBox').empty();
                $('#emailConfirmBox').append('Revisar email');
            }
        })
    }
</script>
