@model ShoppingCartViewModel

@section styles {
    <link href="~/Content/ShoppingCart/Index.css" rel="stylesheet" />
}

<br />

<div class="header" id="title">
    <div class="title-container">
        <h1 class="title-logo">Carrito</h1>
    </div>
</div>
<div class="text-center text-muted" style="margin-top:-20px; margin-bottom: 20px;">
    <h3>Horarios de envío</h3>
    <h4 class="">Entre 10:30 y 12:30 o entre 18:00 y 20:00</h4>
</div>

@if (Model.ShoppingCartTotal == 0)
{
    <div class="container">
        <h3 class="text-center">Parece que tu carrito de compras está vacío. </h3>
        <h3 class="text-center">¿Qué tal un paseo por nuestras productos? <a asp-controller="PieDetail" asp-action="List">Ver productos</a></h3>
    </div>
}
else
{
    <div class="container">
        @Html.Partial("~/Views/ShoppingCart/ShoppingCartItems.cshtml", Model)
        @Html.Partial("~/Views/ShoppingCart/CheckDelivery.cshtml", Model)
        <br />
        @Html.Partial("~/Views/ShoppingCart/CalendarComments.cshtml", Model)
        <br />
    </div>
    @Html.Partial("~/Views/ShoppingCart/CheckOutOptions.cshtml", Model)
    <br />
    @Html.Partial("~/Views/ShoppingCart/Faq.cshtml", Model)
}

<script type="text/javascript">
    $(function () {
        $('a#moreinfo[href *=\\#]:not([href =\\#])').click(smoothScroll);
        $('a#tocheckout[href *=\\#]:not([href =\\#])').click(smoothScroll);
    });

    function smoothScroll() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top - 65
                }, 1000);
                return false;
            }
        }
    }
</script>



