@model ShoppingCartViewModel

@section styles {
    <link href="~/Content/ShoppingCart/Index.css" rel="stylesheet" />
}
@*@Model.FriendlyBookingId*@
<div class="header" id="title">
    <div class="title-container">
        <h1 class="title-logo">Carrito</h1>
    </div>
</div>




@if (Model.ShoppingCartTotal == 0)
{
    <div class="container">
        <h3 class="text-center">Parece que tu carrito de compras está vacío. </h3>
        <h3 class="text-center">¿Qué tal un paseo por nuestras productos? <a asp-controller="PieDetail" asp-action="List">Ver productos</a></h3>
    </div>
}
else
{
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                @Html.Partial("~/Views/ShoppingCart/ShoppingCartItems.cshtml", Model)
                @if (Model.Discount == null)
                {
                    @Html.Partial("~/Views/Discounts/ApplyDiscount.cshtml", new AddDiscountViewModel())
                }                
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                @*@Html.Partial("~/Views/Shared/PickupDate.cshtml", Model.PickupDate)*@
                <div id="pickUpTime">
                    @Html.Partial("~/Views/ShoppingCart/PickupTime.cshtml", Model.PickupTime)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">

            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
            </div>
        </div>
        <div class="row">
            <hr style="margin-left:10%;margin-right:10%; margin-top: 30px; margin-bottom: 30px;"/>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
                @Html.Partial("~/Views/ShoppingCart/Comments.cshtml", Model.Comments)
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                @Html.Partial("~/Views/ShoppingCart/CheckDelivery.cshtml", Model)
            </div>
        </div>

        <br />

        <br />
    </div>
    @Html.Partial("~/Views/ShoppingCart/CheckOutOptions.cshtml", Model)
    <br />
    @Html.Partial("~/Views/ShoppingCart/Faq.cshtml", Model)
}

<script type="text/javascript">
    $(function () {
        $('a#moreinfo[href *=\\#]:not([href =\\#])').click(smoothScroll);
        $('a#tocheckout[href *=\\#]:not([href =\\#])').click(smoothScroll);
    });

    function smoothScroll() {
        if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
            var target = $(this.hash);
            target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
            if (target.length) {
                $('html,body').animate({
                    scrollTop: target.offset().top - 65
                }, 1000);
                return false;
            }
        }
    }

    function ackowledgetime() {
        $.post('/api/ShoppingCartData/AcknowledgeSystemTime');
    }

    $("a").on('click', function () {
        $.ajax({
            type: 'GET',
            url: 'api/ShoppingCartData/AddComments/' + $('#comments').val()
        });
    });
</script>



