@model ShoppingCartViewModel
@inject ICalendarRepository calendar
@inject ILunchRepository lunch

@{ 
    var sessionLunch = lunch.GetSessionLunch();
}
    <h1 class="text-center" style="font-family: Noto serif; margin-top:0px; margin-bottom:0px;">Items</h1>
    <div style="font-size:small;" class="text-center text-muted">
        <div>Necesitamos sólo @Model.PreparationTime hs de producción para completar tu pedido.</div>
        <div>Elegí en el calendario la fecha y hora de entrega que más te convenga.</div>
    </div>
    <table class="table table-striped table-condensed">

        <thead>
            <tr>
                <th></th>
                <th class="text-center">Cantidad</th>
                <th>Producto</th>
                <th class="text-right">Precio</th>
                <th class="text-right">Subtotal</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.Items)
            {
                <tr>
                    <td class="text-center">
                        <a asp-controller="ShoppingCart" asp-action="ClearFromShoppingCart"
                           asp-route-pieId="@line.Pie.PieId" class="text-muted">
                            <span class="glyphicon glyphicon-remove remove-item"></span>
                        </a>
                    </td>
                    <td class="text-center quantity">
                        <a asp-controller="ShoppingCart" asp-action="RemoveFromShoppingCart"
                           asp-route-pieId="@line.Pie.PieId" class="text-muted">
                            <span class="fa fa-caret-left"></span>
                        </a>
                        @line.Amount
                        <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                           asp-route-pieId="@line.Pie.PieId" class="text-muted">
                            <span class="fa fa-caret-right"></span>
                        </a>
                    </td>
                    <td class="text-left">
                        <a href="/PieDetail/Details/@line.Pie.PieDetailId" class="text-muted">
                            @line.Pie.PieDetail.Name (@line.Pie.Name) - @line.Pie.PieDetail.PreparationTime hs
                        </a>
                    </td>
                    <td class="text-right">@line.Pie.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.Pie.Price).ToString("c"))
                    </td>
                </tr>
            }
            @foreach (var line in Model.Caterings)
            {
                <tr>
                    <td class="text-center">
                        <a asp-controller="ShoppingCart" asp-action="ClearCateringFromCart"
                           asp-route-cateringId="@line.Lunch.LunchId" class="text-muted">
                            <span class="glyphicon glyphicon-remove remove-item"></span>
                        </a>
                    </td>
                    <td class="text-center quantity">
                        <a asp-controller="ShoppingCart" asp-action="RemoveCateringFromCart"
                           asp-route-lunchId="@line.Lunch.LunchId" class="text-muted">
                            <span class="fa fa-caret-left"></span>
                        </a>
                        @line.Amount
                        <a asp-controller="ShoppingCart" asp-action="AddCateringToShoppingCart"
                           asp-route-id="@line.Lunch.LunchId" class="text-muted">
                            <span class="fa fa-caret-right"></span>
                        </a>
                    </td>
                    <td class="text-left text-muted">
                        @{
                            var label = (string.IsNullOrEmpty(line.Lunch.Title) ? $"Catering #{line.Lunch.LunchId}" : line.Lunch.Title) + $" - {line.Lunch.PreparationTime} hs";
                        }
                        @if(sessionLunch.Lunch != line.Lunch)
                        {
                            <a class="text-muted" asp-action="Special" asp-route-id="@line.Lunch.LunchId" asp-controller="Lunch">
                                @label
                            </a>
                        }
                        else
                        {
                            <a class="text-muted" asp-action="Estimate" asp-controller="Lunch">
                                @label
                            </a>
                        }
                    </td>
                    <td class="text-right">@line.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.Price).ToString("c"))
                    </td>
                </tr>
            }
            @foreach (var line in Model.CatalogItems)
            {
                <tr>
                    <td class="text-center">
                        <a asp-controller="ShoppingCart" asp-action="ClearCatalogProductFromShoppingCart"
                           asp-route-productId="@line.Product.ProductId" class="text-muted">
                            <span class="glyphicon glyphicon-remove remove-item"></span>
                        </a>
                    </td>
                    <td class="text-center quantity">
                        <a asp-controller="ShoppingCart" asp-action="RemoveCatalogProductFromShoppingCart"
                           asp-route-productId="@line.Product.ProductId" class="text-muted">
                            <span class="fa fa-caret-left"></span>
                        </a>
                        @line.Amount
                        <a asp-controller="ShoppingCart" asp-action="AddProductToShoppingCart"
                           asp-route-id="@line.Product.ProductId" class="text-muted">
                            <span class="fa fa-caret-right"></span>
                        </a>
                    </td>
                    <td class="text-left text-muted">
                        @line.Product.Name - @line.Product.PreparationTime hs
                    </td>
                    <td class="text-right">@line.Product.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.Product.Price).ToString("c"))
                    </td>
                </tr>
            }
            @if (Model.ShoppingCartTotal >= Model.MinArsForDelivery && Model.DeliveryAddress != null)
            {
                <tr>
                    <td class="text-center">
                        <a asp-controller="ShoppingCart" asp-action="RemoveDelivery">
                            <span class="glyphicon glyphicon-remove remove-item"></span>
                        </a>
                    </td>
                    <td class="text-center quantity"></td>
                    <td class="text-left">
                        <a asp-action="Index" asp-controller="Delivery" title="@Model.DeliveryAddress.DeliveryInstructions" class="text-muted">
                            Delivery: @Model.DeliveryAddress.AddressLine1
                        </a>
                    </td>
                    <td class="text-right">
                        @Model.DeliveryAddress.DeliveryCost.ToString("c")
                    </td>
                    <td class="text-right">
                        @Model.DeliveryAddress.DeliveryCost.ToString("c")
                    </td>
                </tr>
            }

            @if (Model.Discount != null)
            {
                <tr style="color: darkgreen">
                    <td class="text-center">
                        <a asp-controller="ShoppingCart" asp-action="RemoveDiscount">
                            <span class="glyphicon glyphicon-remove remove-item"></span>
                        </a>
                    </td>
                    <td class="text-center quantity"></td>
                    <td class="text-left text-success">
                        <strong>
                            Descuento @Model.Discount.Percentage % [Hasta @Model.Discount.Roof.ToString("s")]
                        </strong>
                        @{
                            string error = "";
                            var discount = Discount.ApplyDiscount(calendar.LocalTime(), Model.ShopingCartTotalWithoutDiscount, Model.Discount, out error);
                        }
                        @if (!string.IsNullOrEmpty(error))
                        {<div>@error</div>}
                    </td>
                    <td class="text-right">
                        <strong>
                            @discount.ToString("c")
                        </strong>
                    </td>
                    <td class="text-right">
                        <strong>
                            @discount.ToString("c")
                        </strong>
                    </td>
                </tr>

            }
            @if (Model.DeliveryAddress == null && Model.ShoppingCartTotal >= Model.MinArsForDelivery && Model.ShoppingCartTotal >= Model.MinArsForDelivery)
            {
                <tr>
                    <td class=""></td>
                    <td class=""></td>
                    <td class="text-left">
                        <div class="animated bounceInLeft">
                            <a style="color:#883636;" asp-action="Index" asp-controller="Delivery"><span style="color:#883636; margin-right: 10px;" class="fa fa-map-marker"></span>Agregar envío </a>
                        </div>
                    </td>
                    <td class=""></td>
                    <td class=""></td>
                </tr>

            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" class="text-right">
                    <strong>
                        Total:
                    </strong>
                </td>
                <td class="text-right">
                    <strong>
                        @Model.ShoppingCartTotal.ToString("c")
                    </strong>
                </td>
            </tr>
            <tr>
                <td colspan="5" style="text-align: right;">
                    <a class="btn btn-primary" asp-controller="PieDetail" asp-action="List" style="margin-bottom: 5px;">Seguir Comprando</a>
                    <a class="btn btn-primary" href="#sms-container" id="tocheckout" style="margin-bottom: 5px;"> <span class="fa fa-arrow-down"></span> Finalizar</a>
                </td>
            </tr>
        </tfoot>

    </table>