@model CalendarViewModel


<div class="container">
    @{ 
        for (int i = 0; i <= 6; i++)
        {
            <table>
                <thead>
                    <tr>
                        <td>
                            <h2>@Model.DayToString(i)</h2>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align: center;">
                            <strong>Atencion al Publico</strong>
                        </td>
                        <td style="text-align: center;">
                            <strong>Produccion</strong>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <table class="timeframestable" style="margin: 10px; width: 500px; vertical-align:top;">
                                <thead>
                                    <tr>
                                        <td>Id</td>
                                        <td>Abre</td>
                                        <td>Cierra</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (OpenHours timeframe in Model.OpenHours.Where(x => x.DayId == i))
                                    {
                                        <tr>
                                            <td>@timeframe.OpenHoursId</td>
                                            <td>@timeframe.StartingAt.ToString("hh\\:mm")</td>
                                            <td>@timeframe.StartingAt.Add(timeframe.Duration).ToString("hh\\:mm")</td>
                                            <td><a href="#">Eliminar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="input-group bootstrap-timepicker timepicker" style="margin:10px; width: 150px;">
                                                <input id="startingat-openhours-@i" type="text" class="form-control input-small startingat-openhours">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group bootstrap-timepicker timepicker" style="margin:10px; width: 150px;">
                                                <input id="finishingat-openhours-@i" type="text" class="form-control input-small finishingat-openhours">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#" style="margin:10px;">Agregar</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td id="errorOpenHours-@i"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="vertical-align:top;">
                            <table class="timeframestable" style="margin: 10px; width: 500px; vertical-align:top;">
                                <thead>
                                    <tr>
                                        <td>Id</td>
                                        <td>Abre</td>
                                        <td>Cierra</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (ProcessingHours timeframe in Model.ProcessingHoures.Where(x => x.DayId == i))
                                    {
                                        <tr>
                                            <td>@timeframe.ProcessingHoursId</td>
                                            <td>@timeframe.StartingAt.ToString("hh\\:mm")</td>
                                            <td>@timeframe.StartingAt.Add(timeframe.Duration).ToString("hh\\:mm")</td>
                                            <td><a href="#">Eliminar</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="input-group bootstrap-timepicker timepicker" style="margin:10px; width: 150px;">
                                                <input id="startingat-openhours-@i" type="text" class="form-control input-small startingat-processinghours">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="input-group bootstrap-timepicker timepicker" style="margin:10px; width: 150px;">
                                                <input id="finishingat-openhours-@i" type="text" class="form-control input-small finishingat-processinghours">
                                                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
                                            </div>
                                        </td>
                                        <td>
                                            <a href="#" style="margin:10px;">Agregar</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td id="errorOpenHours-@i"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

        }
    }
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('.timeframestable').DataTable({
            "searching": false,
            "sorting": false,
            "paging": false,
            "columnDefs": [
                {
                    "targets": [0],
                    "visible": false,
                    "searchable": false
                }
            ],
            "bInfo": false
        });
    });

    $('.startingat-openhours').timepicker();
    $('.finishingat-openhours').timepicker();
    $('.startingat-processinghours').timepicker();
    $('.finishingat-processinghours').timepicker();
</script>