@model HomeViewModel

<link href="~/Content/Home/Index.css" rel="stylesheet" />

<header class="intro-header" id="intro-header">
    <img class="img-responsive animated bounceInLeft" alt="La Reposteria Shop'" src="~/Pictures/logo.png" />
    <div class="container">
        <div class="intro-message">     
            <div class="row">
                <hr class="intro-divider">
                <h1 class="">Repostería Artesanal</h1>
            </div>
            <br />
            @Html.Partial("ArrowDown", "#services")
        </div>
    </div>
</header>


@Html.Partial("~/Views/Services/Index.cshtml")


<section class="bg-light" id="piesoftheweek">
    <div class="container">
        <h1>Destacados</h1>
        <h1 class="hidden-sm hidden-xs text-muted">Nuestra selección semanal - Especial para vos!</h1>
        <div class="row">
            @foreach (var pie in Model.PiesOfTheWeek)
            {
                @Html.Partial("PieOverviewSummary", pie)
            }
        </div>
    </div>
</section>

<section class="bg-light" id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="section-heading">Nuestro equipo</h1>
                <h2 class="section-subheading text-muted"></h2>
            </div>
        </div>
        <div class="owl-carousel team-carousel">
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Claudio", Picture = "/Pictures/Team/Claudio.jpg", Title = "Maestro pastelero", Subtitle = "Cofundador", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Marcela", Picture = "/Pictures/Team/Marcela.jpg", Title = "Mente creativa", Subtitle = "Cofundadora", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Fiorella", Picture = "/Pictures/Team/Fio.jpeg", Title = "Master Chef", Subtitle = "Manager de Ventas", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Gaby", Picture = "/Pictures/Team/Tia.png", Title = "Master Chef", Subtitle = "Manos mágicas", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Nico", Picture = "/Pictures/Team/Nico.PNG", Title = "Master de Todo", Subtitle = "Genio culinario", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Alicia", Picture = "/Pictures/Team/ALita.PNG", Title = "La Jefa", Subtitle = "Atención al Cliente", Email = "" })
        </div>
        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <blockquote><h1>El secreto esta en la pasión.</h1></blockquote>
            </div>
        </div>
    </div>
</section>
<section id="afip">
    <a href='http://qr.afip.gob.ar/?qr=-3Dafrs7S3zSZ4ok4IozMQ,,' target='_F960AFIPInfo'>
        <img src='http://www.afip.gob.ar/images/f960/DATAWEB.jpg' border='0'>
    </a>
</section>

<script type="text/javascript">
    $(function () {
        $('.carousel').carousel({
            interval: 2000
        });
    });

    $('.team-carousel').owlCarousel({
        //center: true,
        items: 1,
        loop: true,
        margin: 30,
        autoplay: true,
        autoplayTimeout: 3000, 
        responsive: {
            500: {
                items: 2
            },
            1024: {
                items: 4
            },
            1600: {
                items: 6
            }
        }
    });
</script>
