@model HomeViewModel
@inject IPieDetailRepository pieDetailRepo

@section styles {
    <link href="~/Content/Home/Index.css" rel="stylesheet" />
}
@{
    //var background = $"./Pictures/Backgrounds/background{(Model.IsMobile ? "-mobile" : "")}.jpg";
    var background = $"https://farm5.staticflickr.com/4751/40498381121_13ec0f8fcc_{(Model.IsMobile ? "z" : "h")}.jpg";
}

@section metatags {
    <meta property="og:url" content="@Model.HostUrl" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Repostería De las Artes" />
    <meta property="og:description" content="Desde 1992" />
    <meta property="og:image" content="@background" />

    <title>De las Artes - Inicio</title>
}

<header class="intro-header" id="intro-header">
    <div class="parallax-window" data-parallax="scroll" data-image-src="@background" />
    <div class="">
        <img src="~/Pictures/LogoRepo.PNG" style="width:90%; max-width:380px;" />
        <div class="" style="color:papayawhip; padding: 10px;border-radius: 5px; text-shadow: 0px 0px 10px rgba(31, 31, 33, 0.9);">
            <h2 class="" style="margin-top: -10px;">Repostería Artesanal</h2>
            <div class="intro-message">
                <div class="">
                    <div class="animated" style="margin: 0px;" id="buy-btn">
                        <a asp-action="List" asp-controller="PieDetail" style="color: papayawhip; padding: 15px;font-size: 60px;  ">
                            <div class="">
                                <div class="">
                                    @*<span class="fa fa-shopping-cart"></span>
                                        <hr class="intro-divider">*@
                                </div>
                                <style>

                                    #comprar-h1 {
                                        margin-bottom: 0px;
                                        /*margin-top: -25px;*/
                                        font-family: Noto Serif;
                                        text-shadow: 2px 2px 20px #000000;
                                    }
                                </style>
                                <h1 id="comprar-h1" class="text-center">¡Comprar!</h1>
                            </div>
                        </a>
                    </div>
                </div>
                <div style="margin-bottom:150px;">
                    @Html.Partial("ArrowDown", "#piesoftheweek")
                </div>
            </div>
        </div>
    </div>
</header>


@{
    var validPieDetails = Model.PiesOfTheWeek.Where(x => pieDetailRepo.GetChildren(x.PieDetail.PieDetailId).Count() > 0);
}

@if (validPieDetails.Any())
{
    <section class="bg-light" id="piesoftheweek">
        <div class="container">
            <div class="title-container">
                <h1 class="title-logo"><a asp-action="List" asp-controller="PieDetail">Destacados</a></h1>
            </div>
            <div class="row pie-of-week-carousel">

                @foreach (var pie in validPieDetails)
                {
                    @Html.Partial("PieOverviewSummary", pie)
                }
            </div>
            <a asp-action="List" asp-controller="PieDetail">
                <h2 class="text-muted text-center">Ver más</h2>
            </a>
        </div>
    </section>
}
@Html.Partial("~/Views/Services/Index.cshtml")

<section id="location">
    <div class="title-container">
        <h1 class="text-center title-logo">Dirección</h1>
    </div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d40509.165163836115!2d-58.42386838681868!3d-34.620141749222064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x36138e4afdfc67e8!2sDe+las+Artes!5e0!3m2!1sen!2snz!4v1503363586219" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</section>

<section class="container bg-light" id="team">
    <div class="">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="title-container">
                    <h1 class="section-heading title-logo">De las Artes</h1>
                </div>
                <div class="section-subheading text-muted">
                    <blockquote>
                        <h3>
                            Nuestros pasteles son hechos artesanalmente.
                            Sin conservantes ni aditivos químicos.
                            Pueden sufrir variaciones en forma y textura.
                            Producidos pocas veces al día y en cantidades pequeñas.
                            Así le garantizamos más calidad y sabor.
                        </h3>
                    </blockquote>
                </div>
            </div>
        </div>

        <div class="owl-carousel team-carousel hidden">
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Claudio", Picture = "/Pictures/Team/Claudio.jpg", Title = "Maestro pastelero", Subtitle = "Cofundador", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Marcela", Picture = "/Pictures/Team/Marcela.jpg", Title = "Mente creativa", Subtitle = "Cofundadora", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Fiorella", Picture = "/Pictures/Team/Fio.jpeg", Title = "Master Chef", Subtitle = "Manager de Ventas", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Gaby", Picture = "/Pictures/Team/Tia.png", Title = "Master Chef", Subtitle = "Manos mágicas", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Nico", Picture = "/Pictures/Team/Nico.PNG", Title = "Master de Todo", Subtitle = "Genio culinario", Email = "" })
            @Html.Partial("TeamMember", new TeamMemberViewModel() { Name = "Alicia", Picture = "/Pictures/Team/ALita.PNG", Title = "La Jefa", Subtitle = "Atención al Cliente", Email = "" })
        </div>

        <div class="row">
            <div id="staff"></div>
        </div>


        <div class="row">
            <div class="col-lg-12 mx-auto text-center">
                <h1>El secreto está en la pasión.</h1>
            </div>
        </div>
    </div>
</section>

<section id="afip">
    <a href='http://qr.afip.gob.ar/?qr=-3Dafrs7S3zSZ4ok4IozMQ,,' target='_F960AFIPInfo'>
        <img src='http://www.afip.gob.ar/images/f960/DATAWEB.jpg' border='0'>
    </a>
</section>

<script type="text/javascript">
    $.get("/api/PhotosData/GetAlbumStaff/72157693137937504", function (data) {
        $("#staff").append(data);
    })

    //$(function () {
    //    $('.carousel').carousel({
    //        interval: 2000
    //    });
    //});

    //$('.team-carousel').slick({
    //    arrows: false,
    //    dots: false,
    //    autoplay: true,
    //    autoplaySpeed: 2500,
    //    focusOnSelect: true,
    //    pauseOnFocus: true,
    //    pauseOnHover: true,
    //    pauseOnDotsHover: true,
    //    centerMode: true,
    //    variableWidth: true
    //});

    $(document).ready(function () {
        setInterval(function () {
            setTimeout(function () {
                $('#buy-btn').addClass('flash');
            }, 2000);
            setTimeout(function () {
                $('#buy-btn').removeClass('flash');
            }, 1000);
        }, 5000)
    });
</script>
