@model TeamMemberViewModel

<div class="">
    <div class="team-member">
        <h1>
            @Model.Name
        </h1>
        <img class="mx-auto img-circle" src="@Model.Picture" alt="">
        <h2 class="text-muted">@Model.Title</h2>
        <p class="text-muted">@Model.Subtitle</p>
        @*<p><a href="@Model.Email">@Model.Email</a></p>*@
    </div>
</div>