@model IEnumerable<Product>

<div class="container">
    <div>
        <h2>Productos</h2>
        <a href="/Catalog/New" class="btn btn-primary">Nuevo</a>
        <a href="/Catalog/Inflation" class="btn btn-primary">Ajustar Precios</a>
        <a asp-action="OnlyPrices" asp-controller="Catalog" class="btn btn-primary">Imprimir</a>
    </div>
    <br />
    <table class="table table-striped" id="products">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio Online</th>
                <th>Precio en Tienda</th>
                <th>Venta Online Activa</th>
                <th>Categoría</th>
                <th>Temperatura</th>
                <th>Cantidad Mínima</th>
                <th>Bocados</th>
                <th>Preparación (hs)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{ foreach (var prod in Model)
                {
                    var showDelete = prod.IsActive ? "" : "hidden";
                    var showRestore = prod.IsActive ? "hidden" : "";
            <tr>
                <td>
                    <a href="/Catalog/Edit/@prod.ProductId">
                        @prod.Name
                    </a>

                    <div id="state-@prod.ProductId" class="text-muted">
                        @if (!prod.IsActive)
                        {<div>Inactivo</div>}
                    </div>
                </td>
                <td>
                    @prod.Price.ToString("c")
                    @if (prod.OldPrice.HasValue)
                    {
                        <div style="font-size:smaller; text-decoration: line-through">@prod.OldPrice.Value.ToString("c")</div>
                    }
                </td>
                
                <td>
                    @prod.PriceInStore.ToString("c")
                    @if (prod.OldPriceInStore.HasValue)
                    {
                        <div style="font-size:smaller; text-decoration: line-through">@prod.OldPriceInStore.Value.ToString("c")</div>
                    }
                </td>
                <td>
                    @if(prod.IsOnSale)
                    {
                        <span class="fa fa-check"></span>
                    }
                    else 
                    {
                        <span class="fa fa-times"></span>
                    }
                </td>
                <td>
                    @prod.Category
                </td>
                <td>
                    @prod.Temperature
                </td>
                <td>
                    @prod.MinOrderAmount
                </td>
                <td>
                    @prod.Portions
                </td>
                <td>
                    @prod.PreparationTime
                </td>
                <td>
                    <input id="delete-@prod.ProductId" type="submit" class="btn btn-danger @showDelete" value="Eliminar" onclick="deleteProduct(@prod.ProductId)" />
                    <input id="restore-@prod.ProductId" type="submit" class="btn btn-success @showRestore" value="Restaurar" onclick="restoreProduct(@prod.ProductId)" />
                </td>
            </tr>
                }
            }
        </tbody>
    </table>
</div>

<script type="text/javascript">
    function deleteProduct(productId) {
        $.post('/api/CatalogData/Delete/' + productId).then(() => {
            $('#delete-' + productId).addClass("hidden");
            $('#restore-' + productId).removeClass("hidden");
            $('#state-' + productId).empty().append("Inactivo");
        }).fail(() => alert("No se pudo hacer el cambio."))
    }

    function restoreProduct(productId) {
        $.post('/api/CatalogData/Restore/' + productId).then(() => {
            $('#delete-' + productId).removeClass("hidden");
            $('#restore-' + productId).addClass("hidden");
            $('#state-' + productId).empty();
        }).fail(() => alert("No se pudo hacer el cambio."))
    }

    $('#products').DataTable({
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        },
        pageLength: 250
    });
</script>