@model InflationEstimateViewModel
<style>
    td {
        padding: 5px;
    }
</style>
<div class="container">
    <h2>Vista Preliminar</h2>
    <div >
        <table>
            <thead>
                <tr>
                    <th>
                        <label class="control-label">Aumento</label>
                    </th>
                    <th>
                        <label class="control-label">Redondeo (múltiplos)</label>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input type="number" class="form-control" value="@Model.Inflation" disabled="disabled" />
                    </td>
                    <td>
                        <input type="number" class="form-control" value="@Model.RoundTo" disabled="disabled" />
                    </td>
                    <td>
                        <a class="btn btn-primary" onclick="adjustPrices()">Aplicar</a>
                    </td>
                    <td>
                        <a class="btn btn-warning" onclick="restorePrices()">Restaurar Precios</a>
                    </td>
                <tr>
                <tr>
                    <td>
                        <input type="number" class="form-control" min="1" max="99" value="@Model.Inflation" id="preview-perc" />
                    </td>
                    <td>
                        <input type="number" class="form-control" min="1" max="10" value="@Model.RoundTo" id="preview-round"/>
                    </td>
                    <td >
                        <a class="btn btn-default" onclick="previewPrices()">Vista previa</a>
                    </td>
                    <td>
                    </td>
                <tr>
            </tbody>
        </table>
    </div>

    <table id="prices" class="table table-condensed table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Categoría</th>
                <th>Precio en Tienda Anterior</th>
                <th>Precio en Tienda Actual</th>
                <th>Precio en Tienda Nuevo</th>
                <th>Precio Online Anterior</th>
                <th>Precio Online Actual</th>
                <th>Precio Online Nuevo</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var p in Model.Products)
            {
            <tr>
                <td>
                    <a href="/Catalog/Edit/@p.Product.ProductId">
                        @p.Product.Name
                    </a>
                </td>
                <td>@p.Product.Category</td>
                <td>@p.Product.OldPrice?.ToString("c")</td>
                <td>@p.Product.Price.ToString("c")</td>
                <td>@p.EstimateOnline.ToString("c")</td>
                <td>@p.Product.OldPriceInStore?.ToString("c")</td>
                <td>@p.Product.PriceInStore.ToString("c")</td>
                <td>@p.EstimateInStore.ToString("c")</td>
            </tr>
            }
        </tbody>
    </table>
</div>
<script>
    $('#prices').dataTable({
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        },
        "paging": false,
        pageLength: 250
    });

    function previewPrices() {
        window.location = "/Catalog/Inflation/" + $('#preview-perc').val() + "/" + $('#preview-round').val();
    }

    function adjustPrices() {
        $.post('/api/CatalogData/Inflation/@Model.Inflation/@Model.RoundTo').then(() => {
            window.location.reload();
        }, () => alert('No se pudo hacer el cambio'));
    }

    function restorePrices() {
        $.post('/api/CatalogData/RestorePrices').then(() => {
            window.location.reload();
        }, () => ('No se pudo hacer el cambio'));
    }

</script>