@model  ProductViewModel
<div class="container">
    <h2>@Html.Raw(Model.IsAdding ? "Agregar" : "Editar") Producto</h2>
    <span><a asp-action="Index" asp-controller="Catalog" class="btn btn-primary">Volver</a></span>
    @if (!Model.IsAdding)
    {
        <span><a href="/Catalog/Product" class="btn btn-primary">Crear</a></span>
    }
    <form asp-controller="Catalog" asp-action="Product" method="post" role="form">
        <hr />
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <input asp-for="ProductId" class="hidden" />
                <div>
                    <label asp-for="PieDetailId" class="control-label"></label>
                    <div>
                        <select asp-for="PieDetailId" id="pieDetailIds">
                            <option value=""></option>
                            @foreach (var detail in Model.PieDetails.OrderBy(x => x.Name.TrimStart()))
                            {
                                <option value="@detail.PieDetailId">
                                    @detail.Name
                                </option>
                            }
                        </select>
                        <div>No poner tamaño ni variedad</div>
                        <span asp-validation-for="PieDetailId" class="text-danger"></span>
                    </div>
                </div>
                <div id="pieDetailIngredients" class="">
                    <label asp-for="Ingredients" class="control-label"></label>
                    <div>
                        <input asp-for="Ingredients" class="form-control" id="ingredients" />
                        <span asp-validation-for="Ingredients" class="text-danger"></span>
                    </div>
                </div>
                <div class="connected hidden ">
                    <br />
                    <label class="control-label">Relacionados</label>
                    <div class="small">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>Tamaño</td>
                                    <td>Variedad</td>
                                    <td>Precio Online</td>
                                    <td>Precio Sucursal</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody id="children"></tbody>
                        </table>
                    </div>
                </div>
                @if (!Model.IsAdding && Model.PieDetail != null && Model.PieDetailId > 0)
                {
                    <div class="text-center" id="add-variety">
                        <a asp-action="AddPieDetailChild" asp-route-pieDetailId="@Model.PieDetailId" asp-controller="Catalog" >Agregar otra veriedad de @Model.PieDetail.Name</a>
                    </div>
                }
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                
                <div>
                    <label asp-for="Category" class="control-label"></label>
                    <div>
                        <select asp-for="Category" class="form-control">
                            <option>Postre</option>
                            <option>Seco</option>
                            <option>Lunch</option>
                            <option>Appetizer</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="Temperature" class="control-label"></label>
                    <div>
                        <select asp-for="Temperature" class="form-control">
                            <option>Frío</option>
                            <option>Ambiente</option>
                            <option>Caliente</option>
                        </select>
                        <span asp-validation-for="Category" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="PreparationTime" class="control-label"></label>
                    <div>
                        <input asp-for="PreparationTime" class="form-control" type="number" />
                        <span asp-validation-for="PreparationTime" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="MinOrderAmount" class="control-label"></label>
                    <div>
                        <input asp-for="MinOrderAmount" class="form-control" type="number" />
                    </div>
                    <div>
                        (12 por ej. para sandwiches / 1 para tortas)
                    </div>
                    <div>
                        <span asp-validation-for="MinOrderAmount" class="text-danger"></span>
                    </div>
                    <br />
                </div>
                <div>
                    <label asp-for="MultipleAmount" class="control-label"></label>
                    <div>
                        <input asp-for="MultipleAmount" class="form-control" type="number" />
                    </div>
                    <div>
                        (6 por ej. para sandwiches / 1 para tortas)
                    </div>
                    <div>
                        <span asp-validation-for="MultipleAmount" class="text-danger"></span>
                    </div>
                    <br />
                </div>
                <div>
                    <label asp-for="IsActive" class="control-label"></label>
                    <div>
                        <input asp-for="IsActive" class="form-control" type="checkbox" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="IsOnSale" class="control-label"></label>
                    <div>
                        <input asp-for="IsOnSale" class="form-control" type="checkbox" />
                        <span asp-validation-for="IsOnSale" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div>
                    <label asp-for="SizeDescription" class="control-label"></label>
                    <div>
                        <select asp-for="SizeDescription" id="sizes">
                            <option value=""></option>
                            @{
                                var options = new List<string>
                                                                                        {
                                                                                            "Chica",
                                                                                            "Chico",
                                                                                            "Grande",
                                                                                            "XL",
                                                                                            "Docena",
                                                                                            "200 grs",
                                                                                            "250 grs",
                                                                                            "1/2 Kg",
                                                                                            "1 Kg"
                                                                                        };
                                options.Add(Model.SizeDescription);
                                foreach (var option in options.Distinct())
                                {
                                    <option value="@option">@option</option>
                                }
                            }

                        </select>
                        <span asp-validation-for="SizeDescription" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="Flavour" class="control-label"></label>
                    <div>
                        <select asp-for="Flavour" id="flavours">
                            <option value=""></option>
                            @{
                                var options2 = new List<string>
                                                                                        {
                                                                                            "Frutas Secas",
                                                                                            "Tradicional",
                                                                                            "Frutas Secas",
                                                                                            "Tradicional",
                                                                                            "Carne",
                                                                                            "Verdura",
                                                                                            "Jamón y Queso",
                                                                                            "Membrillo",
                                                                                            "Batata",
                                                                                            "Crema",
                                                                                            "Pastelera",
                                                                                            "Almendra",
                                                                                            "Choco Blanco",
                                                                                            "Choco Negro",
                                                                                            "Pan Negro"
                                                                                        };
                                options2.Add(Model.Flavour);
                                foreach (var option in options2.Distinct())
                                {
                                    <option value="@option">@option</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="Flavour" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="Portions" class="control-label"></label>
                    <div>
                        <input asp-for="Portions" class="form-control" type="number" />
                    </div>
                    <div>
                        (1 por ej. para sandwiches / 8 para torta chica)
                    </div>
                    <div>
                        <span asp-validation-for="Portions" class="text-danger"></span>
                    </div>
                    <br />
                </div>
                <div>
                    <label asp-for="Price" class="control-label"></label>
                    <div>
                        <input asp-for="Price" class="form-control" />
                        <span asp-validation-for="Price" class="text-danger"></span>
                    </div>
                </div>
                <div>
                    <label asp-for="PriceInStore" class="control-label"></label>
                    <div>
                        <input asp-for="PriceInStore" class="form-control" />
                        <span asp-validation-for="PriceInStore" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
        @if (!(string.IsNullOrEmpty(Model.Name) && string.IsNullOrEmpty(Model.Description)))
        {

            <div class="row">
                <div>
                    <hr />
                    <label asp-for="Name" class="control-label"></label>
                    <div>
                        <input asp-for="Name" class="form-control" disabled="disabled" />
                    </div>
                    <label asp-for="Description" class="control-label"></label>
                    <div>
                        <input asp-for="Description" class="form-control" disabled="disabled" />
                    </div>
                </div>
            </div>
        }
        <div class="row">
            <div class="text-center" style="margin: 20px;">
                <input type="submit" class="btn btn-primary" value="@Html.Raw(Model.IsAdding ? "Agregar" : "Guardar")" />
            </div>
        </div>
    </form>
</div>
<script>
    var $pieDetail;
    var $sizes;
    var $flavours;

    $(document).ready(() => {
        $pieDetail = initializeSelector();
        $sizes = $('select#sizes').selectize({
            placeholder: 'Escribir tamaño (opcional)',
            create: function (input) {
                return {
                    value: input,
                    text: input
                }
            }
        });
        $flavours = $('select#flavours').selectize({
            placeholder: 'Escribir variedad (opcional)',
            create: function (input) {
                return {
                    value: input,
                    text: input
                }
            }
        });
        bringChildren();
    });


    function initializeSelector() {
        return $('select#pieDetailIds').selectize({
            placeholder: 'Elegir...',
            create: (input, callback) => onCreate(input, callback),
            onChange: function (event) {
                $.get('/api/PieDetailData/Ingredients/' + event).done((data) => {
                    $('#ingredients').empty().val(data);
                    bringChildren();
                })
            }
        });
    };

    function onCreate(input, callback) {
        $pieDetail[0].selectize.disable();
        $.post('/api/PieDetailData/AddPieDetail/' + input).then((data) => {
            $pieDetail[0].selectize.enable();
            callback({
                value: data.pieDetail,
                text: input
            })
        }, (data) => {
            alert('Ocurrió un error al agregar el producto.')
        })
    }
    function bringChildren() {
        $.get('/api/CatalogData/GetByParent/' + $('#pieDetailIds')[0].value).then((data) => {
            $('#children').empty();
            data.products.forEach(function (element) {
                var style = element.productId == @Model.ProductId ? "bold" : "unset";
                var row = `<tr  style="font-weight:` + style +`;">
                    <td>` + element.sizeDescription + `</td>
                    <td>` + element.flavour + `</td>
                    <td>` + element.price + `</td>
                    <td>` + element.priceInStore + `</td>
                    <td>` + (element.productId == @Model.ProductId ? "" : `<a href="/Catalog/Product/` + element.productId + `">Editar</a>`) + `</td>
                  </tr>`;
                $('#children').append(row);
            })
            if (data.products.length > 0)
                $('.connected').removeClass('hidden');
            else
                $('.connected').addClass('hidden')
        }, () => $('.connected').addClass('hidden'));
    }

</script>