@model IEnumerable<Lunch>
@inject ILunchRepository _lunchRepository

<style>
    th, td {
        text-align: center;
    }
    .handy:hover {
        cursor: pointer;
    }
</style>

<div class="container">
    <br />
    <div>
        <span style="font-size: xx-large; margin-right: 10px;">Servicios de Lunch</span>
        <span ><a style="margin-bottom: 15px;" asp-controller="Lunch" asp-action="Estimate" class="btn btn-primary">Crear</a></span>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Total</th>
                <th>Bocados</th>
                <th>Invitados</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var lunch in Model)
                {
                    <tr>
                        <td>
                            <a asp-controller="Lunch" asp-action="Detail" asp-route-id="@lunch.LunchId">Lunch #@lunch.LunchId</a>
                        </td>
                        <td>
                            @_lunchRepository.GetTotal(lunch).ToString("c")
                        </td>
                        <td>
                            @_lunchRepository.GetBites(lunch)
                        </td>
                        <td>
                            @_lunchRepository.GetConvitees(lunch)
                        </td>
                        <td>
                            <a asp-controller="Lunch" asp-action="Detail" asp-route-id="@lunch.LunchId">Ver</a>
                        </td>
                        <td>
                            <span class="handy" onclick="copy(@lunch.LunchId)">Crear Similar</span>
                        </td>
                        <td>
                            <span class="handy" onclick="modify(@lunch.LunchId)">Modificar</span>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    function copy(id) {
        window.location = '/Lunch/CopyLunch/' + id;
    }
    function modify(id) {
        window.location = '/Lunch/ModifyLunch/' + id;
    }
</script>