@model LunchMiscellaneous
@if (Model == null)
{
    <div></div>
}
else
{
    <div class="row" style="max-width: 500px; margin: auto; background-color: papayawhip;" id="miscellaneous-@Model.LunchMiscellaneousId">
        <div class="selecteItem" style="">
            <div class="col-xs-6 col-sm-8 col-md-8 col-lg-8 text-left">
                <div style="font-size: large" >@Model.Description </div>
                <div>
                    <span class="" style="margin-right: 5px;">Unidades </span>
                    @if(Model.Quantity > 1)
                    {
                        <span class="fa fa-caret-left handy hidden-print" onclick="removeMiscellaneousInstance(@Model.LunchMiscellaneousId)"></span>
                    }
                    else
                    {
                        <span class="fa fa-caret-left text-muted hidden-print"></span>
                    }
                    <span  style="margin-left: 5px;margin-right: 5px;">@Html.Raw(Model.Quantity)</span>
                    <span class="fa fa-caret-right handy hidden-print" onclick="addMiscellaneousInstance(@Model.LunchMiscellaneousId)"></span>
                </div>
                <div onclick="removeMiscellaneous(@Model.LunchMiscellaneousId)" class="handy hidden-print">
                    Quitar
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <div style="font-size: x-large; color:#883636" class=" text-right itemprice">@Html.Raw((Model.Quantity * Model.Price).ToString("c"))</div>
                <div class=" text-right">@Model.Price.ToString("c")  c/u</div>
            </div>
        </div>
    </div>
}