@model Lunch
@inject IAccountRepository _account

@{
    var title = "Catering " + (string.IsNullOrEmpty(Model.Title) ? "Personalizado" : $"- {Model.Title}");
    var url = (this.Context?.Request?.HostUrl() ?? "") + "/Lunch/Special/" + Model.LunchId;
}
@section metatags {
    <meta property="og:url" content="@url" />
    <meta property="og:type" content="product" />
    <meta property="og:title" content="@title" />
    <meta property="og:description" content="Catering 'De las Artes' recomendado para @Model.Attendants comensales." />

    @if (!string.IsNullOrEmpty(Model.ThumbnailUrl))
    {
        <meta property="og:image" content="@Model.ThumbnailUrl" />
    }


    <title>@Html.Raw(title)</title>
}
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.11&appId=744831982380043';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<div class="container">
    <h2 class="text-center">@Html.Raw("Presupuesto " + (Model.IsGeneric ? "Genérico" : "Especial"))</h2>
    <div class="text-center">
        @Html.Partial("~/Views/Shared/InStoreSwitch.cshtml")
    </div>
    <div style="max-width: 500px; margin:auto;">
        @Html.Partial("~/Views/Lunch/ComboDetail.cshtml", Model)
    </div>
    <div class="text-center hidden-print" style="margin: 20px auto;">
        <div>
            <a class="btn btn-primary" href="/catering-options">Ver más</a>
            <a class="btn btn-primary" onclick="window.print()">Imprimir</a>
            @if (await _account.IsAdmin())
            {
                <a class="btn btn-primary in-store hidden" onclick="printInStoreCatering()">Ticket</a>
                <a class="btn btn-primary online" onclick="printOnlineCatering()">Ticket</a>
            }
        </div>
        <div class="fb-share-button" style="margin-top: 25px;"
             data-href="@url"
             data-layout="button_count">
        </div>
    </div>
</div>
<script>
    function printInStoreCatering() {
        loaderOn();
        $.post("/api/LunchData/PrintInStoreCatering/@Model.LunchId").fail(() => "No se pudo mandar a imprimir").always(() => loaderOff());
    }
    function printOnlineCatering() {
        loaderOn();
        $.post("/api/LunchData/PrintOnlineCatering/@Model.LunchId").fail(() => "No se pudo mandar a imprimir").always(() => loaderOff());
    }
</script>