@model StatsIndexViewModel

<div class="container text-center">
    <h2>Estadísticas</h2>
    <div class="row">

    <div class="col-sm-6 col-xs-12 col-lg-6 col-md-6">
        <h3>Productos Más Agregados</h3>
        <table class="table datatable">
            <thead>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Cantidad
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.ProductsMostAddedToTrolley)
                    {
                        <tr>
                            <td>
                                @item.Key.Name
                            </td>

                            <td>
                                @item.Value
                            </td>
                        </tr>
                    }
                }

            </tbody>
        </table>
    </div>

    <div class="col-sm-6 col-xs-12 col-lg-6 col-md-6">
        <h3>Items Más Agregados</h3>
        <table class="table  datatable">
            <thead>
                <tr>
                    <th>
                        Producto
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th>
                        Precio
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.ItemsMostAddedToTrolley)
                    {
                <tr>
                    <td>
                        @item.Key.PieDetail.Name @item.Key.Name
                    </td>

                    <td>
                        @item.Value
                    </td>
                    <td>
                        @item.Key.Price
                    </td>
                </tr>
                    }
                }

            </tbody>
        </table>
    </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-xs-12 col-lg-6 col-md-6">
            <h3>Productos Más Vendidos</h3>
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    foreach (var item in Model.ProductsMostPurchased)
                    {
                        <tr>
                            <td>
                                @item.Key.Name
                            </td>

                            <td>
                                @item.Value
                            </td>
                        </tr>
                }
                    }

                </tbody>
            </table>
        </div>
        <div class="col-sm-6 col-xs-12 col-lg-6 col-md-6">
            <h3>Items Más Comprados</h3>
            <table class="table datatable">
                <thead>
                    <tr>
                        <th>
                            Producto
                        </th>
                        <th>
                            Cantidad
                        </th>
                        <th>
                            Precio
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                    foreach (var item in Model.ItemsMostPurchased)
                    {
                    <tr>
                        <td>
                            @item.Key.PieDetail.Name @item.Key.Name
                        </td>

                        <td>
                            @item.Value
                        </td>
                        <td>
                            @item.Key.Price
                        </td>
                    </tr>
                }
                    }

                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <table class="table table-condensed" style="max-width: 300px;">
            <thead>
                <tr>
                    <th class="text-center">MercadoPago</th>
                    <th class="text-center">Reservas</th>
                    <th class="text-center">Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>$@Model.TotalMercadoPago</td>
                    <td>$@Model.TotalReservations</td>
                    <td>$@Model.TotalIncome</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    $('.datatable').DataTable(({
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        },
        "order": [[1, "desc"]]
    }));
</script>