@model InvoiceData
@inject IElectronicBillingRepository _billing
<style>
    table.subitmes thead tr th {
        text-align: center;
        padding-right: 5px;
    }

    table.subitmes tbody tr td {
        text-align: center;
        padding-right: 5px;
    }
</style>
@{ 
    var cuits = _billing.CuitInfo(Model);
}
<div class="container">
    <h2>Detalle de Factura</h2>
    <table class="table">
        <tbody>
            <tr>
                <td class="subject">Creado</td>
                <td>@Model.Created</td>
            </tr>
            <tr>
                <td class="subject">Pedido</td>
                <td>
                    <a asp-action="Detail" asp-route-id="@Model.Order.OrderId" asp-controller="Order">
                        @Model.Order.FriendlyBookingId
                    </a>
                </td>
            </tr>
            <tr>
                <td class="subject">Total</td>
                <td>
                    @Model.Order.OrderTotal.ToString("c")
                </td>
            </tr>
            <tr>
                <td class="subject">Cuit</td>
                <td>@Model.Cuit</td>
            </tr>
            <tr>
                <td class="subject">Punto de Venta</td>
                <td>@Model.PtoVta</td>
            </tr>
            <tr>
                <td class="subject">Tipo de Comprobante</td>
                <td>@Model.Factura</td>
            </tr>
            <tr>
                <td class="subject">Fecha de Proceso</td>
                <td>@Model.FchProceso</td>
            </tr>
            <tr>
                <td class="subject">Cantidad de Registros</td>
                <td>@Model.CantReg</td>
            </tr>
            <tr>
                <td class="subject">Resultado</td>
                <td>@Model.FriendlyResultado</td>
            </tr>
            <tr>
                <td class="subject">Reproceso</td>
                <td>@Model.Reproceso</td>
            </tr>
            @if(Model.Caes.Any())
            { 
            <tr>
                <td class="subject">CAE</td>
                <td>
                    <table class="subitmes table table-striped">
                        <thead>
                            <tr>
                                <th colspan="3">
                                    CAE
                                </th>
                                <th colspan="3">
                                    Comprobante
                                </th>
                                <th colspan="2">
                                    Documento
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Número</td>
                                <td title="Fecha límite para informar al cliente el CAE">Vencimiento</td>
                                <td>Concepto</td>
                                <td>Desde</td>
                                <td>Hasta</td>
                                <td>Fecha</td>
                                <td>Tipo</td>
                                <td>Número</td>
                                <td>Resultado</td>
                                <td>Importe</td>
                            </tr>
                            @{
                                foreach (var cae in Model.Caes)
                                {
                                    <tr>
                                        <td>@cae.CAE</td>
                                        <td>@cae.CAEFchVto</td>
                                        <td>@cae.FriendlyConcepto</td>
                                        <td>@cae.CbteDesde</td>
                                        <td>@cae.CbteHasta</td>
                                        <td>@cae.CbteFch</td>
                                        <td>@cae.Documento</td>
                                        <td>@cae.DocNro</td>
                                        <td>@cae.FriendlyResultado</td>
                                        <td>@cae.ImpTotal.ToString("c")</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            }
            @if (Model.InvoiceDetails.Any())
            {
            <tr>
                <td class="subject">Notas</td>
                <td>
                @foreach (var detail in Model.InvoiceDetails)
                {
                    <div>
                        <strong>@detail.Type @detail.Code</strong>
                    </div>
                    <div>
                        @detail.Msg
                    </div>
                    <br />
                }
            </tr>
            }
            @if (cuits.Any())
            {
            <tr>
                <td class="subject">Detalles de CUIT</td>
                <td>
                @foreach (var cuit in cuits)
                {
                    <div>
                        <strong>@cuit.Number</strong>
                    </div>
                    @foreach(var detail in cuit.CuitDetails)
                    {
                        <div>
                            @detail.Property: @detail.Value
                        </div>
                    }
                    <br />
                }
            </tr>
            }
        </tbody>
    </table>

</div>