@model PieDetailCreateViewModel

<script src="~/CommonJs/summernote.js"></script>
<script src="~/CommonJs/summernote-es.js"></script>


@section styles {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
}


<div class="container edit-pie-detail">
    <h2>Editar @Model.Name</h2>
    <a asp-controller="Admin" asp-action="AllProducts" class="btn btn-primary">Productos</a>

    <form asp-controller="Admin" asp-action="EditPieDetail" method="post" class="form-horizontal" role="form">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group" hidden="hidden">
            <label asp-for="PieDetailId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PieDetailId" class="form-control" />
                <span asp-validation-for="PieDetailId" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ingredients" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ingredients" class="form-control" />
                <span asp-validation-for="Ingredients" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ShortDescription" class="form-control" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="LongDescription" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="LongDescription" class="form-control" id="textarea-desc" style="height: 150px;"></textarea>
                <span asp-validation-for="LongDescription" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="FlickrAlbumId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="FlickrAlbumId" class="form-control" asp-items="@Model.Albumes"></select>
                <span asp-validation-for="FlickrAlbumId" class="text-danger"></span>
            </div>
        </div>


        <div class="form-group">
            <label asp-for="IsActive" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="IsActive" class="form-control" type="checkbox" />
                <span asp-validation-for="IsActive" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="IsPieOfTheWeek" class="col-md-2 control-label"></label>
            <div class="col-md-1">
                <input asp-for="IsPieOfTheWeek" class="form-control" type="checkbox" />
                <span asp-validation-for="IsPieOfTheWeek" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary" value="Guardar" />
                <a class="btn btn-primary" id="delete-pieDetail">Eliminar</a>
            </div>
        </div>
    </form>
    <div>
        @if (Model.Children.Any())
        {
            <h3>Opciones</h3>
            <div id="allPies-div" class="small">
                <table id="allPies" class="display nowrap dataTable dtr-inline collapsed table table-striped" cellspacing="0" role="grid">
                    <thead>
                        <tr>
                            <th>Tamaño</th>
                            <th>Variedad</th>
                            <th>Precio Online</th>
                            <th>Precio Sucursal</th>
                            <th>Preparación</th>
                            <th>Venta Online</th>
                            <th>Activo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id='allPies-tbody'>
                        @foreach (var item in Model.Children.OrderBy(x => x.Price))
                        {
                            <tr>
                                <td>@item.SizeDescription</td>
                                <td>@item.Flavour</td>
                                <td>@item.Price</td>
                                <td>@item.PriceInStore</td>
                                <td>@item.PreparationTime</td>
                                @{ var active = item.IsActive ? "fa-check" : "fa-times"; }
                                @{ var vtaOnline = item.IsOnSale || !item.IsActive ? "fa-check" : "fa-times"; }
                                <td><span class="fa @vtaOnline"></span></td>
                                <td><span class="fa @active"></span></td>
                                <td><a asp-action="Product" asp-controller="Catalog" asp-route-id="@item.ProductId">Modificar</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        <div align="center" style="margin-top: 20px;">
            <a class="btn btn-primary" asp-action="AddPieDetailChild" asp-controller="Catalog" asp-route-pieDetailId="@Model.PieDetailId">Agregar item</a>
        </div>
    </div>
</div>
<script type="text/javascript">

    $(document).ready(function () {
        $('#textarea-desc').summernote({
            lang: 'es-ES'
        });
    });
    var dataTable;
    $(document).ready(function () {
        $("#delete-pieDetail").on('click', function (data) {
            deletePieDetail(@Model.PieDetailId);
        });
    });

    function deletePieDetail(id) {
        var url = "/api/AdminData/DeletePieDetail/" + id;
        $.ajax({
            url: url,
            method: "DELETE",
            success: function () {
                window.location.assign("/Admin/AllProducts");
            },
            error: function (error) {
                alert('Algo salio mal.');
            }
        });
    }

</script>