@model PieDetailCreateViewModel 

<link href="~/Content/Admin/EditPieDetail.css" rel="stylesheet" />

<div class="container edit-pie-detail">
    <h2>Editar @Model.Name</h2>
    @{
        if (!Model.IsActive)
        {
            <p class="text-muted" style="display:inline-block">Inactivo - </p>
            <a href="#" class="restorePieDetail" id='@Model.PieDetailId' onclick="restorePieDetail('@Model.PieDetailId');">Restaurar</a>
        }
    }
            <form asp-controller="Admin" asp-action="EditPieDetail" method="post" class="form-horizontal" role="form">
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>

                <div class="form-group" hidden="hidden">
                    <label asp-for="PieDetailId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PieDetailId" class="form-control" />
                        <span asp-validation-for="PieDetailId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="Name" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ShortDescription" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="ShortDescription" class="form-control" />
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PreparationTime" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="PreparationTime" class="form-control" />
                        <span asp-validation-for="PreparationTime" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="LongDescription" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="LongDescription" class="form-control" style="height: 150px;" ></textarea>
                        <span asp-validation-for="LongDescription" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="FlickrAlbumId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="FlickrAlbumId" class="form-control" asp-items="@Model.Albumes"></select>
                        @*<select asp-for="CategoryId" class="form-control" asp-items="@Model.Categories"/>*@
                        <span asp-validation-for="FlickrAlbumId" class="text-danger"></span>
                    </div>
                </div>



                <div class="form-group">
                    <label asp-for="CategoryId" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="CategoryId" class="form-control" asp-items="@Model.Categories"></select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="IsActive" class="col-md-2 control-label"></label>
                    <div class="col-md-1">
                        <input asp-for="IsActive" class="form-control" type="checkbox" />
                        <span asp-validation-for="IsActive" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="IsPieOfTheWeek" class="col-md-2 control-label"></label>
                    <div class="col-md-1">
                        <input asp-for="IsPieOfTheWeek" class="form-control" type="checkbox" />
                        <span asp-validation-for="IsPieOfTheWeek" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-primary" value="Guardar" />
                        <a class="btn btn-primary" id="delete-pieDetail">Eliminar</a>
                    </div>
                </div>
            </form>
    <div>
        <div id="allPies-div">
            <table id="allPies" class="display nowrap dataTable dtr-inline collapsed" cellspacing="0" role="grid">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Descripcion de Tamaño</th>
                        <th>Estado</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id='allPies-tbody'></tbody>
            </table>
        </div>
        <div align="center">
            <a class="btn btn-primary" href="/Admin/EditPieDetail/AddPie/@Model.PieDetailId">Agregar item</a>
        </div>
    </div>
</div>
<script type="text/javascript">
    var dataTable;
    $(document).ready(function () {
        getPies();
        $("#delete-pieDetail").on('click', function (data) {
            deletePieDetail(@Model.PieDetailId);
        });
    });

    function restorePieDetail(id) {
        var url = "/api/AdminData/RestorePieDetail/" + id;
        $.ajax({
            url: url,
            method: "POST",
            success: function () {
                window.location.assign("/Admin/AllProducts");
            },
            error: function (error) {
                alert('Algo salio mal.');
            }
        });
    }

    function restorePie(id) {
        var url = "/api/AdminData/RestorePie/" + id;
        $.ajax({
            url: url,
            method: "POST",
            success: function () {
                window.location.reload();
            },
            error: function (error) {
                alert('Algo salio mal.');
            }
        });
    }

    function deletePieDetail(id) {
        var url = "/api/AdminData/DeletePieDetail/" + id;
        $.ajax({
            url: url,
            method: "DELETE",
            success: function () {
                window.location.assign("/Admin/AllProducts");
            },
            error: function (error) {
                alert('Algo salio mal.');
            }
        });
    }

    function getPies() {
        var url = "/api/AdminData/GetPies/" + '@Model.PieDetailId';
        $.ajax({
            url: url,
            method: "GET",
            success: onSuccess,
            error: function (error) {
                console.log(error);
            }
        });
    }

    function deletePie(id) {
        var url = "/api/AdminData/DeletePie/" + id;
        $.ajax({
            url: url,
            method: "DELETE",
            success: function () {
                dataTable.clear();
                dataTable.destroy();
                getPies();
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function onSuccess(data) {
        $.each(data, function (index, item) {
            $('#allPies-tbody').append(getRow(item));
        });
        dataTable = $('#allPies').DataTable({
            "order": [[0, "asc"]],
            "paging": false
        });
        $('#allPies-div').parent().css('overflow', 'auto');
        $('#allPies-div').css('width', '100%');
        $('#allPies-div').show();
        $(".deletePie").on('click', function (data) {
            deletePie(data.currentTarget.id);
        });
    }

    function getRow(item) {
        var row = $('<tr>');
        row.append('<td><a href="/Admin/EditPie/' + '@Model.PieDetailId' + "/" + item.pieId + '">' + item.name + '</a></td>');
        row.append('<td>' + item.price + '</td>');
        row.append('<td>' + item.sizeDescription + '</td>');
        if (item.isActive){
            row.append('<td>Activo</td>');
            row.append('<td>' + '<a class="deletePie" id="' + item.pieId + '" href="#">Eliminar</a>' + '</td>');
        }
        else {
            row.append('<td>Inactivo</td>');
            row.append('<td>' + '<a onclick="restorePie(' + item.pieId + ')" class="restorePie" id="' + item.pieId + '" href="#">Restaurar</a>' + '</td>');
        }
            
        return row;
    }
</script>