@model ErrorsViewModel
@inject ICalendarRepository calendar
<div class="container">
    <h3>Errores del sitio</h3>
    <br />
    <table class="table table-condensed" id="exceptions">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Sesión
                </th>
                <th>
                    Fecha
                </th>
                <th>
                    Ip
                </th>
                <th>
                    Path
                </th>
                <th>
                    Usuario
                </th>
                <th>
                    Error
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Exceptions)
            {
                <tr>
                    <td>
                        @item.SiteExceptionId
                    </td>
                    <td>
                        <div title="@item.BookingId">
                            @{
                                if (!string.IsNullOrEmpty(item.BookingId) && item.BookingId.Length > 10)
                                {
                                    var friendlybooking = item.BookingId.Substring(item.BookingId.Length - 7, 6);
                                    <span>
                                        @friendlybooking
                                    </span>
                                }
                            }
                        </div>
                    </td>
                    <td>
                        @Html.Raw(calendar.SuperFriendlyDate(item.Date))
                    </td>
                    <td>
                        @{ var href = "https://tools.keycdn.com/geo?host=" + item.Ip; }
                        <a href="@href" target="_blank">@item.Ip</a>
                    </td>
                    <td>
                        @item.Path
                    </td>
                    <td>
                        @Html.Raw(item.User?.Email ?? "")
                    </td>
                    <td title="@item.StuckTrace">
                        @item.Error
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <h3>Sesiones</h3>
    <br />
    <table class="table table-condensed" id="bookings">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Sesión
                </th>
                <th>
                    Creado
                </th>
                <th>
                    Ip
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BookingRecords)
            {
                <tr>
                    <td>
                        @item.BookingRecordId
                    </td>
                    <td>
                        <div title="@item.BookingId">
                            @{
                                if (!string.IsNullOrEmpty(item.BookingId) && item.BookingId.Length > 10)
                                {
                                    var friendlybooking = item.BookingId.Substring(item.BookingId.Length - 7, 6);
                                    <span>
                                        @friendlybooking
                                    </span>
                                }
                            }
                        </div>
                    </td>
                    <td>
                        @item.Created.ToString("s")
                    </td>
                    <td>
                        @{ var href = "https://tools.keycdn.com/geo?host=" + item.Ip; }
                        <a href="@href" target="_blank">@item.Ip</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    @Html.Partial("~/Views/Admin/SessionsActivities.cshtml", Model.SessionDetails)
</div>
<script>
    $('#exceptions').DataTable(({
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        },
        "order": [[0, "desc"]]
    }));
    $('#bookings').DataTable(({
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        },
        "order": [[0, "desc"]]
    }));
</script>