@model IEnumerable<Pie>
<div class="container" >
    <div style="margin: auto;">

    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6">
            <h2>Precios de productos CON fotos</h2>
            <table class="table table-striped" id="table-prices">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Precio Online</th>
                        <th>Precio Sucursal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Where(x => x.IsActive))
                {
                    var storePrice = item.StorePrice.HasValue ? item.StorePrice.Value : item.Price;
                    <tr style="@Html.Raw(storePrice != item.Price ? "color: red;" : "")">
                        <td>
                            @item.PieDetail.Name @item.Name
                        </td>
                        <td>
                            <input class="form-control" id="online-@item.PieId" value="@Decimal.Floor(item.Price)" type="number" min="1"/>
                        </td>
                        <td>
                            <input class="form-control" id="store-@item.PieId" value="@Decimal.Floor(storePrice)" type="number" min="1" />
                        </td>
                        <td>
                            <div>
                                <a class="btn" id="save-@item.PieId" onclick="saveprice(@item.PieId)" >Guardar</a>
                            </div>
                            <div id="notif-@item.PieId" class="alert-success">

                            </div>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="col-md-6 col-lg-6 col-sm-6">
                @Html.Partial("~/Views/Shared/CatalogPreview.cshtml", "")
        </div>
    </div>

    </div>
</div>
<script>
    function saveprice(pieId) {
        var onlinePrice = $("#online-" + pieId).val();
        var storePrice = $("#store-" + pieId).val();
        $("#save-" + pieId).addClass('hidden');
        $("#notif-" + pieId).empty();
        $.post('/api/AdminData/SavePrice/' + pieId + '/' + onlinePrice + '/' + storePrice)
            .then(() => {
                $("#notif-" + pieId).append("¡Guardado!");
                setTimeout(function () { $("#notif-" + pieId).empty(); }, 5000);
            })
            .fail(() => {
                $("#notif-" + pieId).append("No se pudo guardar");
            })
            .done(() => {
                $("#save-" + pieId).removeClass('hidden');
        })
        ;

    }
</script>