@model VisitsViewModel
@inject ICalendarRepository calendar

<div class="container">
    <h2 class="text-center">Visitas</h2>
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center text-muted">Historial de Visitas</h3>
            <table>
                <thead>
                    <tr>
                        <th>
                            Ruta
                        </th>
                        <th>
                            Ip
                        </th>
                        <th>
                            Sesión
                        </th>
                        <th>
                            Usuario
                        </th>
                        <th>
                            Fecha
                        </th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model.Visits)
                {
                    <tr>
                        <td>
                            <a href="@item.Path">@Html.Raw("delasartes.com.ar" + item.Path)</a>
                        </td>
                        <td>
                            @{ var href = "https://tools.keycdn.com/geo?host=" + item.Ip; }
                            <a href="@href" target="_blank">@item.Ip</a>
                        </td>
                        <td>
                            <div title="@item.BookingId">
                                @{ 
                                    if(!string.IsNullOrEmpty(item.BookingId) && item.BookingId.Length > 10)
                                    {
                                        var friendlybooking = item.BookingId.Substring(item.BookingId.Length - 7, 6);
                                        <span>
                                            @friendlybooking
                                        </span>
                                    }
                                }
                            </div>
                        </td>
                        <td>
                            @Html.Raw(item.User?.Email ?? "")
                        </td>
                        <td>
                            @Html.Raw(calendar.SuperFriendlyDate(item.Visited).Replace("<br/>", ""))
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center text-muted">Páginas más visitadas</h3>
            <table>
                <thead>
                    <tr>
                        <th>
                            Ruta
                        </th>
                        <th>
                            Visitas
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ByPath)
            {
                <tr>
                    <td>
                        <a href="@item.Key">@Html.Raw("delasartes.com.ar" + item.Key)</a>
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
    }
                </tbody>
            </table>
        </div>
        <div class="col-md-6">
            <h3 class="text-center text-muted">Usuarios más activos</h3>
            <table>
                <thead>
                    <tr>
                        <th>
                            Ip
                        </th>
                        <th>
                            Visitas
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ByIp)
            {
                <tr>
                    <td>
                        @{ var href = "https://tools.keycdn.com/geo?host=" + item.Key; }
                        <a href="@href" target="_blank">@item.Key</a>
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    $('table').DataTable(({
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        },
        aaSorting: []
    }));
</script>