@model OrderDetailsViewModel

@{
    var pickUp = Model.Order.PickUp?.ToString("dd'/'MM'/'yyyy") ?? string.Empty;
}

<h2>@Model.Order.BookingId</h2>

<div class="container">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Cantidad</th>
                <th>Producto</th>
                <th>Precio</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td> @item.Amount </td>
                    <td> @item.Pie.Name </td>
                    <td> @item.Pie.Price</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<br/>
<table class="table table-user-information" style="max-width: 600px">
    <tbody>
        <tr>
            <td><strong>Estado</strong></td>
            <td colspan="2">@Model.Order.Status</td>
        </tr>
        <tr>
            <td><strong>Comentarios</strong></td>
            <td colspan="2">@Model.Order.CustomerComments</td>
        </tr>
        <tr>
            <td><strong>Fecha Creacion</strong></td>
            <td colspan="2">@Model.Order.OrderPlaced.ToShortDateString() @Model.Order.OrderPlaced.ToShortTimeString() </td>
        </tr>
        <tr>
            <td><strong>Plazo</strong></td>
            <td colspan="2">@Model.Order.PreparationTime</td>
        </tr>
        <tr>
            <td><strong>Entrega Pautada</strong></td>
            <td>
                <div class="input-group date" data-provide="datepicker">
                    <input id="pickUpDateSubmit" type="text" class="form-control" value="@pickUp">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </div>
                </div>
            </td>
            <td><input id="pickUpSubmit" type="submit" class="btn btn-primary" value="Guardar" /></td>
        </tr>
        <tr>
            <td><strong>Entregado</strong></td>
            <td>@(@Model.Order.PickedUp ? "Si" : "No")</td>
            <td><input type="submit" class="btn btn-primary" value="Cambiar" /></td>
        </tr>
        <tr>
            <td><strong>Comentarios Agregados</strong></td>
            <td>
                <textarea id="comments" style="resize: vertical; width:100%">@Model.Order.ManagementComments</textarea>
            </td>
            <td><input id="commentsSubmit" type="submit" class="btn btn-primary" value="Guardar" /></td>
        </tr>
    </tbody>
</table>

<script type="text/javascript">
    $.fn.datepicker.defaults.format = "dd/mm/yyyy";
    $('.datepicker').datepicker();

    $("#commentsSubmit").on('click', function () {
        $.ajax({
            type: 'GET',
            url: '/api/OrderData/AddComments/' + '@Model.Order.OrderId' + '/' + $("#comments").val(),
            success: function () { alert('success'); },
            error: function () { alert('error'); }
        });
    });
    $("#pickUpSubmit").on('click', function () {
        var parts = $("#pickUpDateSubmit").val().split("/");
        var date = new Date(parts[2], parts[1] - 1, parts[0]);

        $.ajax({
            type: 'GET',
            url: '/api/OrderData/UpdatePickUpDate/' + '@Model.Order.OrderId' + '/' + date.toUTCString(),
            success: function () { alert('success'); },
            error: function () { alert('error'); }
        });
    });
    /*
    api/OrderData/AddComments/{orderId}/{comments}")]
        public IActionResult AddComments(int orderId, string comments)
        {
            _orderRepository.UpdateManagementComments(orderId, comments);
            return View();
        }

        [Route("UpdatePickUpDate/{orderId}/{pickUp}")]

    */



</script>

