@model EmailNotificationViewModel
@inject ICalendarRepository _calendar
@inject IFlickrRepository _flickr
@inject ILunchRepository _lunch
<div style="max-width: 750px;margin: auto;">
    <div style="text-align:center; font-family: 'Trebuchet MS'; ">
        <section style='padding: 20px; width:90%; min-width:400px; ' id='body'>
            <div style=" background-color: #883636; color: papayawhip; border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <br />
                <a href="@Model.AbsoluteUrl" target="_blank" style="text-decoration: none; ">
                    <div style="padding-left: 20px; padding-right: 20px;">
                        <img src="@Model.AbsoluteUrl/Pictures/LogoRepo.png" width="250" />
                    </div>
                </a>

                <div style="font-size: 20px; padding-bottom:25px;">
                    <strong>¡Gracias @Model.CustomarAlias!</strong>
                </div>
            </div>

            <div style=" background-color: papayawhip; ">
                <div style="width: 90%; margin: auto;">
                    <br />
                    <div style="font-size: 30px; color:black;">
                        <strong>
                            Pedido
                            <a href="@Model.AbsoluteUrl/Order/Status/@Model.FriendlyBookingId" target="_blank" style="color: #883636 ; text-decoration: none;">
                                @Model.FriendlyBookingId
                            </a>
                        </strong>
                    </div>
                    <div style="font-size: 15px; padding:5px;">
                        <div>
                        </div>
                        @if (Model.OrderReady.HasValue)
                        {
                            <div>
                                <br />
                                Entrega: A partir del @_calendar.FriendlyDate(Model.OrderReady) a las @Model.OrderReady.Value.ToString("HH\\:mm").ToLower()
                                @if (Model.TimeLeftUntilStoreCloses.HasValue)
                                {
                                    <br />
                                    <div>
                                        Recordá que <span style="text-decoration: underline">a las @Model.OrderReady.Value.Add(Model.TimeLeftUntilStoreCloses.Value).ToString("HH\\:mm").ToLower() cerramos</span>.
                                    </div>
                                }
                            </div>
                        }
                    </div>


                    <br />
                    <table style="margin: auto; max-width:400px; padding-left: 10px; padding-right: 10px; border-collapse:collapse;">
                        <thead>
                            <tr>
                                <th style='' colspan="3"></th>
                            </tr>
                        </thead>
                        @{
                            var totalItems = 0m;
                            var deliveryCost = 0m;
                        }
                        <tbody>
                            @foreach (var item in Model.OrderItems)
                            {
                                <tr>
                                    @{
                                        var pic = _flickr.GetAlbumPictures(item.Pie.PieDetail.FlickrAlbumId)?.PrimaryPicture;
                                        pic = !string.IsNullOrEmpty(pic) ? pic + "s.jpg" : "/Pictures/logo.png";
                                        var itemref = Model.AbsoluteUrl + $"/PieDetail/Details/{item.Pie.PieDetail.PieDetailId}";
                                    }
                                    <td style='padding:10px; padding-left:2px; text-align:center;'>

                                        <a href="@itemref">
                                            <img src=@pic width="75" style="border-radius:5px;" />
                                        </a>
                                    </td>
                                    <td style='padding:2px; text-align:left;  padding-left: 10px; padding-right: 10px;'>
                                        <a href="@itemref" style="text-decoration: none; color: black; ">
                                            <div>
                                                <div>@item.Pie.PieDetail.Name @item.Pie.Name</div>
                                                <div>
                                                    Precio: $@item.Price
                                                </div>
                                                Cantidad: @item.Amount
                                            </div>
                                        </a>
                                    </td>
                                    @{var subtotal = item.Price * item.Amount;}
                                    <td style='padding:2px; text-align:right; '>
                                        <div style="font-size: large; ">
                                            $@subtotal
                                        </div>
                                        @if (item.Pie.Price < item.Pie.StorePrice)
                                        {
                                            <div style="font-size: smaller; text-align: right; color: green;">
                                                (-$@Html.Raw(item.Pie.StorePrice - item.Pie.Price))
                                            </div>
                                        }
                                    </td>
                                    @{totalItems += subtotal;}
                                </tr>
                            }
                            @foreach (var item in Model.OrderCatalogItems.OrderByDescending(x => x.Product.PieDetail?.FlickrAlbumId ?? 0))
                            {
                                var albumId = item.Product.PieDetail?.FlickrAlbumId ?? 0;

                                var pic = _flickr.GetAlbumPictures(albumId)?.PrimaryPicture;
                                pic = !string.IsNullOrEmpty(pic) ? pic + "s.jpg" : $"{Model.AbsoluteUrl}/Pictures/cake-2.png";
                                var itemref = "";
                                if (item.Product.PieDetail?.IsActive ?? false)
                                {
                                    itemref = Model.AbsoluteUrl + $"/PieDetail/Details/{item.Product.PieDetail.PieDetailId}";
                                }
                                <tr>
                                    <td style='padding:10px; padding-left:2px; text-align:center;'>
                                        <a href="@itemref">
                                            <img src="@pic" width="75" style="border-radius:5px;" />
                                        </a>
                                    </td>
                                    <td style='padding:2px; text-align:left;  padding-left: 10px; padding-right: 10px;'>
                                        <a href="@itemref">
                                            <div>@item.Product.DisplayName</div>
                                        </a>
                                        <div>
                                            <div>
                                                Precio: $@item.Price
                                            </div>
                                            <div>Cantidad: @item.Amount</div>
                                        </div>
                                    </td>
                                    @{var subtotal = item.Price * item.Amount;}
                                    <td style='padding:2px; text-align:right; '>
                                        <div style="font-size: large; ">
                                            $@subtotal
                                        </div>
                                        @if (item.Product.Price < item.Product.PriceInStore)
                                        {
                                            <div style="font-size: smaller; text-align: right; color: green;">
                                                (-$@Html.Raw((item.Product.PriceInStore - item.Product.Price) * item.Amount))

                                            </div>
                                        }
                                    </td>
                                    @{totalItems += subtotal;}
                                </tr>
                            }
                            @foreach (var item in Model.OrderCaterings)
                            {
                                <tr>
                                    @{
                                        var itemref = Model.AbsoluteUrl + $"/Lunch/Special/{item.Lunch.LunchId}";
                                    }
                                    <td style='padding:10px; padding-left:2px; text-align:center;'>
                                        <a href="@itemref">
                                            <img src="@Model.AbsoluteUrl/Pictures/catering.png" width="75" />
                                        </a>
                                    </td>
                                    <td style='padding:2px; text-align:left; padding-left: 10px; padding-right: 10px;'>
                                        <a href="@itemref" style="text-decoration: none; color: black">
                                            <div>
                                                @Html.Raw(string.IsNullOrEmpty(item.Lunch.Title) ? $"Catering Personalizado" : item.Lunch.Title)
                                                @{
                                                    var total = _lunch.GetTotal(item.Lunch);
                                                    var subtotalInStore = _lunch.GetLunchTotalInStore(item.Lunch);
                                                }
                                            </div>
                                        </a>
                                        <div>
                                            Precio: $@total<br />
                                            Cantidad: @item.Amount
                                        </div>
                                    </td>
                                    @{var subtotal = _lunch.GetTotal(item.Lunch) * item.Amount;}
                                    <td style='padding:2px; text-align:right; font-size: large; '>
                                        $@subtotal
                                        @if (total < subtotalInStore)
                                        {
                                            <div style="font-size: smaller; text-align: right; color: green;">
                                                (-$@Html.Raw((subtotalInStore - total) * item.Amount))

                                            </div>
                                        }
                                    </td>
                                    @{totalItems += subtotal;}
                                </tr>
                            }
                            @if (Model.Delivery != null)
                            {
                                <tr>
                                    <td style='padding:10px; padding-left:2px; text-align:center;'>
                                        <img src="@Model.AbsoluteUrl/Pictures/delivery3.png" width="75" />
                                    </td>
                                    <td style='padding:2px; text-align:left;  padding-left: 10px; padding-right: 10px;' colspan="1">@Model.Delivery.AddressLine1</td>
                                    <td style='padding:2px; text-align:right; font-size: large'>$@Model.Delivery.DeliveryCost</td>
                                    @{deliveryCost = Model.Delivery.DeliveryCost;}
                                </tr>
                            }
                            @if (Model.Discount != null)
                            {
                                <tr style="font-size: large">
                                    <td style='padding:10px; padding-left:2px; text-align:center;'>
                                        <img src="@Model.AbsoluteUrl/Pictures/deal2.png" width="75" />
                                    </td>
                                    <td style='padding:2px; text-align:left; padding-left: 10px; padding-right: 10px;' colspan="1">
                                        @{
                                            string error = string.Empty;
                                            var discount = deliveryCost + totalItems - Model.OrderTotal;
                                        }
                                        <div style="color: green;">
                                            <a href="@Model.AbsoluteUrl/Discounts/Details/@Model.Discount.Phrase">

                                                @if (Model.Discount.Percentage < 100)
                                                {
                                                    <strong>Descuento @Model.Discount.Percentage % </strong>
                                                    <div>[Hasta @Model.Discount.Roof.ToString("c")]</div>
                                                }
                                                else
                                                {
                                                    <strong>Voucher $@Model.Discount.Roof </strong>
                                                }
                                            </a>
                                        </div>
                                    </td>
                                    <td style='padding:2px; text-align:right; color: green; '>-$@discount</td>
                                </tr>
                            }
                            <tr>
                                <td colspan="3">
                                    <br />
                                </td>
                            </tr>
                            <tr style="">
                                <td colspan="3" style="font-size: 30px;text-align: center">Total $@Model.OrderTotal</td>
                            </tr>
                            @{
                                if (Model.OrderTotal < Model.TotalInStore)
                                {
                                    {
                                        var dif = Model.TotalInStore - Model.OrderTotal;
                                        <tr style="">
                                            <td colspan="3" style="font-size: 20px;text-align: center; color: green;">
                                                Ahorro @dif.ToString("c")
                                            </td>
                                        </tr>
                                    }
                                }
                            }
                        </tbody>
                    </table>
                    <br />

                    @if (!String.IsNullOrEmpty(Model.MercadoPagoTransaction))
                    {
                        <br />
                        <div style="font-size: larger"><strong>MercadoPago</strong><br /></div>
                        <div>Total Pagado <strong>$@Model.OrderTotal</strong></div>
                        <div>Comprobante <strong>@Model.MercadoPagoTransaction</strong></div>
                    }

                    @if (Model.Delivery != null && !string.IsNullOrWhiteSpace(Model.Delivery.DeliveryInstructions))
                    {
                        <br />
                        <div style="font-size: larger"><strong>Instrucciones de envío</strong><br /></div>
                        <div class="text-muted">@Model.Delivery.DeliveryInstructions</div>
                    }

                    @if (Model.Delivery != null)
                    {
                        <br />
                        <div style="font-size: larger"><strong>Horarios de envío</strong></div>
                        <div>Entre 10:30 y 12:30 o entre 18:00 y 20:00</div>
                    }

                    @if (!String.IsNullOrEmpty(Model.Comments))
                    {
                        <br />
                        <div style="font-size: larger"><strong>Comentarios</strong></div>
                        <div style="font-style:italic">
                            "@Model.Comments"
                        </div>
                    }
                    <br />

                </div>
                <div style="margin: auto; width: 90%; text-align: left">
                    <div style="font-size: larger; text-align: left"><strong style="">Importante</strong></div>
                    <div>
                        <br />
                        Si querés retirar o recibir tu pedido en otro momento, ponete en contacto con nosotros y vamos a tratar de hacer lo posible por adaptarnos. A veces podemos hacer las entregas antes del tiempo calculado, pero no siempre podremos.
                    </div>
                    <div>
                        <br />
                        Ante cualquier duda o alteración, podés <a href='@Model.AbsoluteUrl/Contact' target="_blank" style="color: #883636">contactarnos</a> o
                        visitarnos o llamarnos en nuestros <a href='@Model.AbsoluteUrl/Calendar/OpenHours' target="_blank" style="color: #883636">horarios de atención</a>.
                    </div>
                    <div>
                        <br />
                        Todos los precios incluyen IVA.
                        <br />
                    </div>
                    <br />
                    @Html.Partial("~/Views/Billing/CAEForCustomer.cshtml", Model.Factura)
                </div>
            </div>
            <div style=" background-color: #883636; color: papayawhip; text-align:left; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                <div style="text-align: center;">
                    <br />
                    <a href='@Model.AbsoluteUrl' target="_blank" style="color: papayawhip">@Model.AbsoluteUrl</a>
                </div>
                <br />
            </div>
        </section>
    </div>
</div>