@model IEnumerable<Order>

@section metatags {
    <title>Pedidos en Proceso</title>
}

@inject ICalendarRepository _calendarRepository

<style>
    a {
        color: black;
    }
</style>

<div class="container">
    <h2>Pedidos en proceso</h2>

    <table id="orders" class="display responsive table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Reserva</th>
                <th>Estado</th>
                <th>Cliente</th>
                <th>Entrega</th>
                <th>Detalle</th>
                <th>Monto</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.OrderBy(x => x.PickUpTimeFrom))
            {
                string background_color;
                @if (order.Finished)
                {
                    background_color = "grey";
                }
                else
                {
                    background_color = "red"; //"#ffe2e2";
                }
                <tr style='color:@background_color; ' id="tr-@order.OrderId">
                    <td style="text-align: center;">
                        <a style=" color: @background_color" asp-action="Detail" asp-controller="Order" asp-route-id="@order.OrderId">@order.FriendlyBookingId
                        @if (order.Finished)
                        {
                            <div style="font-size:smaller">Esperando ser entregada</div>
                        }
                        else
                        {
                            <div style="font-size:smaller">Elaboración en proceso</div>
                        }
                        </a>
                    </td>
                    <td style="color: grey; text-align:center">
                        @order.StatusSpanish
                        <div style="color: green;">
                            @order.Discount?.Phrase
                        </div>
                        @{
                            var statehidden = order.Factura != null && order.Factura.Resultado != "A" ? "" : "hidden";
                        }
                        <a class="@statehidden" asp-action="Detail" asp-controller="Billing" asp-route-id="@order.Factura?.InvoiceDataId">
                            <div style="color: red; font-size: small">
                                <span title='Hubo un error en la facturación electrónica'>Revisar Factura</span>
                            </div>
                        </a>
                    </td>
                    <td style="color: grey;">@Html.Raw(order.ContactDataAsHtml)</td>
                    <td>
                        @{
                            var pickUp = order.PickUpTimeFrom ?? order.PickUpTime;


                            if (pickUp != null)
                            {
                                <div>
                                    @if(order.PickUpTimeFrom.HasValue)
                                    {
                                        @Html.Raw(_calendarRepository.SuperFriendlyDate(order.PickUpTimeFrom))
                                    }
                                    else
                                    {
                                        @Html.Raw(_calendarRepository.SuperFriendlyDate(order.PickUpTime))
                                    }
                                </div>
                            }
                        }
                    </td>
                    <td style="text-align:center; color: black;">
                        @{
                            List<string> items = new List<string>();
                        }

                        @foreach (var ol in order.OrderLines)
                        {
                            var line = ol.Amount == 1 ? "" : ol.Amount + "x ";
                            line += $"{ol.Pie.PieDetail.Name} {ol.Pie.Name}";

                            items.Add(line);
                        }
                        @foreach (var ol in order.OrderCatalogItems)
                        {
                            var line = ol.Amount == 1 ? "" : ol.Amount + "x ";
                            line += $"{ol.Product.DisplayName}";

                            items.Add(line);
                        }
                        @if (order.OrderCaterings.Any())
                        {
                            items.Add("Catering" + (order.OrderCaterings.Count() == 1 ? "" : $" x{order.OrderCaterings.Count()}"));
                        }
                        @if (order.DeliveryAddress != null)
                        {
                            items.Add("Envío: " + order.DeliveryAddress.AddressLine1?.Split(",")?.FirstOrDefault() ?? "");
                            if (!String.IsNullOrEmpty(order.DeliveryAddress.DeliveryInstructions))
                            {
                                items.Add(order.DeliveryAddress.DeliveryInstructions);
                            }
                        }
                        @Html.Raw(String.Join("<br/>", items.ToArray()))
                    </td>
                    <td style="color: green;">$@order.OrderTotal</td>

                    <td style="max-width:200px; " class="text-center">
                        <div class="ready @Html.Raw(order.Finished ? "hidden" : "")" id="ready-@order.OrderId">
                            <a class="btn btn-warning" onclick="orderCompleted(@order.OrderId);" id="@order.OrderId" title="Comunica al cliente que la orden está lista para ser entregada">Notificar Cliente</a>
                            <div class="text-muted" style="font-size:smaller">Avisa al cliente que la orden está lista para ser entregada</div>
                        </div>
                        <div class="archive @Html.Raw(order.Finished ? "" : "hidden")" id="archive-@order.OrderId">
                            <a class="btn btn-info archive" id="@order.OrderId" title="Hacer click si el pedido ya fue entregado">Archivar</a>
                            <div class="text-muted" style="font-size:smaller" >Guarda la orden en la base de datos y significa que el cliente ya recibió su producto</div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <br />
    <a asp-controller="Order" asp-action="InProgress" class="">En proceso</a> -
    <a asp-controller="Order" asp-action="AllOrders" class="">Todos</a> -
    <a asp-controller="Order" asp-action="Cancelled" class="">Cancelados</a> -
    <a asp-controller="Order" asp-action="NotYetPaid" class="">Sin pagar</a> -
    <a asp-controller="Order" asp-action="PickedUp" class="">Retirados</a> -
    <a asp-controller="Order" asp-action="Returned" class="">Retornados</a> -
    <a asp-controller="Order" asp-action="Refunded" class="">Dinero devuelto</a>
    <br />
    <br />
</div>

<script type="text/javascript">


    $table = $('#orders').DataTable({
        "language": {
            "url": "/Scripts/SpanishDatatables.json"
        },
        pageLength: 25,
        responsive: true,
        "aaSorting": []
    });

    $('#orders tbody').on('click', 'a.archive', function () {
        loaderOn();
        $row = $(this).parents('tr');
        var id = $(this).attr('id');
        $.ajax({
            type: 'POST',
            url: '/api/OrderData/PickUpOrder/' + id,
            data: {},
            success: function (data) {
                $table.row($row).remove().draw();
                loaderOff();
            },
            error: function (xhr, textStatus, error) {
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
                loaderOff();
            }
        });
    });

    function orderCompleted(id) {
        $('div.ready#ready-' + id).addClass('hidden');
        loaderOn();
        $('a#' + id).hide();
        $('div#text-' + id).hide();
        $.ajax({
            type: 'POST',
            url: '/api/OrderData/CompleteOrder/' + id,
            data: {},
            success: function (data) {
                $('div.archive#archive-' + id).removeClass('hidden');
                loaderOff();
            },
            error: function (xhr, textStatus, error) {
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
                loaderOff();
            }
        });
    }

    $(document).ready(function () {
        setTimeout(function () {
            window.location.reload();
        }, 60000);
    });
</script>