@model IEnumerable<Order>

@inject ICalendarRepository _calendarRepository

<style>
    div.container {
        font-family: Arial;
    }
</style>

<div class="container">
    <h2>Pedidos en proceso</h2>
    <br />
    <a asp-controller="Order" asp-action="InProgress" class="">En proceso</a> -
    <a asp-controller="Order" asp-action="AllOrders" class="">Todos</a> -
    <a asp-controller="Order" asp-action="Cancelled" class="">Cancelados</a> -
    <a asp-controller="Order" asp-action="NotYetPaid" class="">Sin pagar</a> -
    <a asp-controller="Order" asp-action="PickedUp" class="">Retirados</a> -
    <a asp-controller="Order" asp-action="Returned" class="">Retornados</a> -
    <a asp-controller="Order" asp-action="Refunded" class="">Dinero devuelto</a>
    <br />
    <br />
    <table id="orders">
        <thead>
            <tr>
                <th data-breakpoints="xs">Reserva</th>
                <th data-breakpoints="xs">Estado</th>
                <th data-breakpoints="xs sm">Cliente</th>
                <th data-breakpoints="xs sm">Entrega</th>
                <th data-breakpoints="xs sm">Detalle</th>
                <th data-breakpoints="xs sm">Monto</th>
                <th data-breakpoints="xs sm"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.OrderBy(x => x.PickUpTime))
            {
                string background_color;
                @if (order.Finished)
                {
                    background_color = "#d7e9d7";
                }
                else
                {
                    background_color = "#ffe2e2";
                }
                <tr style="background-color: @background_color">
                    <td><a asp-action="Detail" asp-controller="Order" asp-route-id="@order.OrderId">@order.FriendlyBookingId</a></td>
                    <td>@order.StatusSpanish</td>
                    <td>@Html.Raw(order.ContactDataAsHtml)</td>
                    <td>
                        @if (order.PickUpTime.HasValue)
                        {
                        <div>
                            @Html.Raw(_calendarRepository.SuperFriendlyDate(order.PickUpTime))
                        </div>
                        }
                    </td>
                    <td>
                        @{
                            List<string> items = new List<string>();
                        }
                        @foreach (var ol in order.OrderLines)
                        {
                            var line = ol.Amount == 1 ? "" : ol.Amount + "x ";
                            line += $"{ol.Pie.PieDetail.Name} {ol.Pie.Name}";

                            items.Add(line);
                        }
                        @if (order.DeliveryAddress != null)
                        {
                            items.Add("Envío: " + order.DeliveryAddress.AddressLine1?.Split(",")?.FirstOrDefault() ?? "");
                        }
                        @Html.Raw(String.Join("<br/>", items.ToArray()))
                    </td>
                    <td>$@order.OrderTotal</td>

                    <td>
                        @if (order.Finished)
                        {
                            <a class="btn btn-success" onclick="pickedUp(@order.OrderId);" id="@order.OrderId">¡Entregado!</a>
                        }
                        else
                        {
                            <a class="btn btn-success" onclick="orderCompleted(@order.OrderId);" id="@order.OrderId">¡Pedido Listo!</a>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script type="text/javascript">
    $('#orders').DataTable({
        pageLength: 25,
        "aaSorting": []
    });

    function pickedUp(id) {
        $('a#' + id).hide();
        $.ajax({
            type: 'POST',
            url: '/api/OrderData/PickUpOrder/' + id,
            data: {},
            success: function (data) {
                window.location.reload();
            },
            error: function (xhr, textStatus, error) {
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }

    function orderCompleted(id) {
        $('a#' + id).hide();
        $.ajax({
            type: 'POST',
            url: '/api/OrderData/CompleteOrder/' + id,
            data: {},
            success: function (data) {
                window.location.reload();
            },
            error: function (xhr, textStatus, error) {
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
            }
        });
    }

    $(document).ready(function () {
        setTimeout(function () {
            window.location.reload();
        }, 60000);
    });
</script>