@model IEnumerable<Order>

<link href="~/Content/Order/InProgress.css" rel="stylesheet" />

<div class="container">
    <h2>Pedidos en progreso</h2>
    <a asp-controller="Order" asp-action="Cancelled" class="">Cancelados</a> -
    <a asp-controller="Order" asp-action="NotYetPaid" class="">Sin pagar</a> -
    <a asp-controller="Order" asp-action="Completed" class="">Completados</a>

    <table id="orders">
        <thead>
            <tr>
                <th data-breakpoints="xs">Reserva</th>
                <th data-breakpoints="xs">Estado</th>
                <th data-breakpoints="xs sm">Cliente</th>
                <th data-breakpoints="xs sm">Entrega</th>
                <th data-breakpoints="xs sm">Orden lista</th>
                <th data-breakpoints="xs sm">Monto</th>
                <th data-breakpoints="xs sm"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                string background_color;
                @if(order.Finished)
                {
                    background_color = "#d7e9d7";
                }
                else
                {
                    background_color = "#ffe2e2";
                }
            <tr style="background-color: @background_color">
                <td><a asp-action="Detail" asp-controller="Order" asp-route-id="@order.OrderId">@order.FriendlyBookingId</a></td>
                <td>@order.StatusSpanish</td>
                <td>@Html.Raw(order.ContactDataAsHtml)</td>
                <td>
                    @if (order.PickUpTime.HasValue)
                    {
                        <div>@order.PickUpTime.Value.ToString("yyyy'/'MM'/'dd HH:mm")</div>
                    }
                </td>
                <td>
                    @if (order.Finished)
                    {
                        <div>Sí</div>
                    }
                    else
                    {
                        <div>No</div>
                    }
                </td>
                <td>@order.OrderTotal</td>
                
                <td>
                    @if(order.Finished)
                    {
                        <a class="btn btn-success" onclick="pickedUp(@order.OrderId);">¡Entregado!</a>
                    }
                    else
                    {
                        <a class="btn btn-success" onclick="orderCompleted(@order.OrderId);">¡Pedido Listo!</a>
                    }

                </td>
            </tr>
            }
        </tbody>
    </table>

</div>

<script type="text/javascript">
    $('#orders').DataTable();

    function pickedUp(id){
        $.ajax({
            type: 'POST',
            url: '/api/OrderData/OrderPickedUp/' + id,
            data: {},
            success: function (data) {
                window.location.reload();
            },
            error: function (xhr, textStatus, error) {
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
                alert('Hubo un error y no se puede hacer el cambio.');
            }
        });
    }

    function orderCompleted(id) {
        $.ajax({
            type: 'POST',
            url: '/api/OrderData/FinishOrder/' + id,
            data: {},
            success: function (data) {
                window.location.reload();
            },
            error: function (xhr, textStatus, error) {
                console.log(xhr.statusText);
                console.log(textStatus);
                console.log(error);
                alert('Hubo un error y no se puede hacer el cambio.');
            }
        });
    }
</script>