@model EmailNotificationViewModel
@{Layout = string.Empty;}
@inject ICalendarRepository _calendar
@inject IFlickrRepository _flickr
<div style="max-width: 750px;margin: auto;">
    <div style="text-align:center; font-family: 'Trebuchet MS'; ">
        <section style='padding: 20px; width:90%; min-width:300px; ' id='body'>
            <div style=" background-color: #883636; color: papayawhip; border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <br />
                <a href="@Model.AbsoluteUrl" target="_blank" style="text-decoration: none; ">
                    <div style="padding-left: 20px; padding-right: 20px;">
                        <img src="https://farm2.staticflickr.com/1978/31026266528_02d833e53f_o.png" width="250" />
                    </div>
                </a>
                <br />
            </div>

            <div style=" background-color: papayawhip; ">
                <br />
                <div style=" margin: auto;">
                    <div style="font-size: 30px; ">
                        <div>@Model.CustomarAlias</div>
                    </div>
                    <div style="font-size: 20px;">
                        <div>
                            <br />
                            ¡Tu pedido ya está listo!
                        </div>
                        <br />
                    </div>
                    <div style="font-size: 30px; ">
                        <strong>
                            <a href="@Model.AbsoluteUrl/Order/Status/@Model.FriendlyBookingId" target="_blank" style="color: #883636 ; text-decoration: none;">
                                @Model.FriendlyBookingId
                            </a>
                        </strong>
                    </div>
                    <br />
                    <br />
                </div>
                <div style="margin: auto; width: 90%; text-align: center">
                    <div style="font-size: larger; text-align: center"><strong style="">Importante</strong></div>

                    <div>
                        <br />
                        Ante cualquier duda podés <a href='@Model.AbsoluteUrl/Contact' target="_blank" style="color: #883636">contactarnos</a> o
                        visitarnos o llamarnos en nuestros <a href='@Model.AbsoluteUrl/Calendar/OpenHours' target="_blank" style="color: #883636">horarios de atención</a>.
                    </div>
                    <br />
                </div>
            </div>
            <div style=" background-color: #883636; color: papayawhip; text-align:center; border-bottom-left-radius: 10px;border-bottom-right-radius: 10px;">
                <div style="text-align: center;">
                    <br />
                    <a href='@Model.AbsoluteUrl' target="_blank" style="color: papayawhip">@Model.AbsoluteUrl</a>
                </div>
                <br />
            </div>
        </section>
    </div>
</div>